{% if connected %}
	<div class="media">
		<div class="media-left">
			<a href="#.">
				{% if leadUser.IsOnline %}
					<img src="{{leadUser.Avatar}}" alt="{{leadUser.Name}} в сети" title="{{leadUser.Name}} в сети" class="media-object online" width="60" height="60">
				{% else %}
					<img src="{{leadUser.Avatar}}" alt="{{leadUser.Name}} не в сети" title="{{leadUser.Name}} не в сети" class="media-object offline" width="60" height="60">
				{% endif %}
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Вход в Мегаплан выполнен через сотрудника:</h4>
			<p><strong>{{leadUser.Name}}</strong>: {{leadUser.Login}} ({{leadUser.Position.Name}})</p>
		</div>
	</div>
	<h4>Ответственные: <small>Назначьте ответственного для импортированных компаний</small></h4>
	<form id="megaplanResponsiblesForm">
		<fieldset>
			{% for employee in employees %}
				{% if not employee.FireDay %}
					<div class="checkbox"><label><input type="checkbox"> <strong>{{employee.Name}}</strong> ({{employee.Position.Name}})</label></div>
				{% endif %}
			{% endfor %}
			<button class="btn btn-lg btn-primary" id="save"><i class="fa fa-floppy-o fa-fw"></i> Сохранить</button>
			<button type="button" class="btn btn-lg btn-danger" id="unlink"><i class="fa fa-ban fa-fw"></i> Отключиться от Мегаплана</button>
		</fieldset>
	</form>
{% else %}
	<button type="button" id="connect" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#megaplanConnect">Подключиться к Мегаплану...</button>
	<div class="modal fade" id="megaplanConnect" tabindex="-1" role="dialog" aria-labelledby="megaplanConnectLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="megaplanConnectLabel">Подключение к Мегаплану</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning"><strong>ВНИМАНИЕ!</strong> Введенные ниже данные мы не сохраняем и в дальнейшем не используем, а также не передаем третьим лицам. В целях повышения безопасности мы рекомендуем добавить отдельного сотрудника.</div>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Видео: Добавление нового сотрудника в Мегаплан
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LvVdzfj9L6k" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="alert alert-danger hide" id="alertMegaplan">Что-то пошло не так, попробуйте повторить попытку позже!</div>
					<div class="alert alert-success hide" id="alertMegaplanSuccess">Аккаунт успешно привязан.</div>
					<div class="alert alert-danger hide" id="alertMegaplanUser">
						<button type="button" class="close" onclick="hideAlert('alertMegaplanUser')" aria-label="Закрыть">
							<span aria-hidden="true">&times;</span>
						</button>
						<span id="msg"></span>
					</div>
					<form id="formMegaplanConnect">
						<fieldset>
							<div class="form-group" id="groupMegaplanHost">
								<label for="inputMegaplanHost" class="control-label">Домен</label>
								<input type="text" class="form-control" id="inputMegaplanHost" placeholder="mycompany.megaplan.ru">
							</div>
							<div class="form-group" id="groupMegaplanLogin">
								<label for="inputMegaplanLogin" class="control-label">Логин</label>
								<input type="text" class="form-control" id="inputMegaplanLogin" placeholder="Логин в Мегаплане">
							</div>
							<div class="form-group" id="groupMegaplanPassword">
								<label for="inputMegaplanPassword" class="control-label">Пароль</label>
								<input type="password" class="form-control" id="inputMegaplanPassword" placeholder="Пароль в Мегаплане">
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="ok">Подключиться</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
				</div>
			</div>
		</div>
	</div>

	<script>
	$(function() {

		var megaplanHost = $('#inputMegaplanHost'),
				megaplanLogin = $('#inputMegaplanLogin'),
				megaplanPassword = $('#inputMegaplanPassword'),
				megaplanGroupHost = $('#groupMegaplanHost'),
				megaplanGroupLogin = $('#groupMegaplanLogin'),
				megaplanGroupPassword = $('#groupMegaplanPassword'),
				megaplanForm = $('#formMegaplanConnect'),
				megaplanAlertDanger = $('#alertMegaplan'),
				megaplanAlertSuccess = $('#alertMegaplanSuccess'),
				megaplanAlertUser = $('#alertMegaplanUser'),
				megaplanModal = $('#megaplanConnect');

		megaplanForm.submit(function(event) {
			event.preventDefault();
			var host = megaplanHost.val(),
					login = megaplanLogin.val(),
					password = megaplanPassword.val(),
					button_text = megaplanModal.find('#ok').text();
			megaplanAlertUser.addClass('hide');
			if (host && login && password) {
				if (checkDomain(host)) {
					megaplanForm.find('fieldset').attr('disabled', 'disabled');
					megaplanModal.find('button').attr('disabled', 'disabled');
					var i = 0;
					var loading = setInterval(function() {
						if (i < 3) {
							megaplanModal.find('#ok').append('.');
							i++;
						} else {
							megaplanModal.find('#ok').text(button_text);
							i = 0;
						}
					}, 200);
					$.post('/crmConnect/megaplan/', { host:host, login:login, password:password }, function(data) {
						if (data) {
							megaplanAlertUser.removeClass('hide').find('#msg').text(data);
						} else {
							megaplanAlertSuccess.removeClass('hide');
							setTimeout(function() {
								megaplanModal.modal('hide');
							}, 10000);
						}
					}).done(function() {
						megaplanForm.find('fieldset').removeAttr('disabled');
						megaplanModal.find('button').removeAttr('disabled');
					}).fail(function() {
						megaplanAlertDanger.removeClass('hide');
						setTimeout(function() {
							megaplanAlertDanger.addClass('hide');
							megaplanForm.find('fieldset').removeAttr('disabled');
							megaplanModal.find('button').removeAttr('disabled');
						}, 10000);
					}).always(function() {
						clearInterval(loading);
						megaplanModal.find('#ok').text(button_text);
					});
				} else {
					megaplanGroupHost.addClass('has-error');
					megaplanHost.focus();
				}
			} else {
				if (!host) {
					megaplanGroupHost.addClass('has-error');
					megaplanHost.focus();
				} else if (!login) {
					megaplanGroupLogin.addClass('has-error');
					megaplanLogin.focus();
				} else if (!password) {
					megaplanGroupPassword.addClass('has-error');
					megaplanPassword.focus();
				}
			}
		});

		megaplanHost.keyup(function(event) {
			var code = event.which;
			if ($(this).val()) {
				if (megaplanGroupHost.hasClass('has-error'))
					megaplanGroupHost.removeClass('has-error');
			} else {
				megaplanGroupHost.addClass('has-error');
			}
			if (code == 13) {
				megaplanForm.submit();
			}
		});

		megaplanLogin.keyup(function(event) {
			var code = event.which;
			if ($(this).val()) {
				if (megaplanGroupLogin.hasClass('has-error'))
					megaplanGroupLogin.removeClass('has-error');
			} else {
				megaplanGroupLogin.addClass('has-error');
			}
			if (code == 13) {
				megaplanForm.submit();
			}
		});

		megaplanPassword.keyup(function(event) {
			var code = event.which;
			if ($(this).val()) {
				if (megaplanGroupPassword.hasClass('has-error'))
					megaplanGroupPassword.removeClass('has-error');
			} else {
				megaplanGroupPassword.addClass('has-error');
			}
			if (code == 13) {
				megaplanForm.submit();
			}
		});

		megaplanModal.find('#ok').click(function() {
			megaplanForm.submit();
		});

		megaplanModal.on('hide.bs.modal', function() {
			$.post('/getIntegrated/', { ii: ii }, function (data) {
				$('#ii_html').html(data);
			}, 'html');
		});

	});

	function hideAlert(id) {
		$('#'+id).addClass('hide');
	}

	function checkDomain(domain) {
		if (/^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/.test(domain)) {
			return true;
		} else {
			return false;
		}
	}
	</script>
{% endif %}