{% if isAMOUser %}
{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    {% include 'layout/amo-header.twig' %}
    <link rel="stylesheet" href="/public/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <style>
        .tab-pane {
            padding-top: 10px;
        }
        .dropdown-menu > li > a {
            white-space: normal;
        }
        thead {
            background-color: #FFFFFF;
        }
        .gototab:hover {
            text-decoration: none;
            border-bottom: 1px dotted;
        }
    </style>
</head>
<body id="ps">
<h3>Поиск и импорт компаний из справочника 2ГИС</h3>
<ul class="nav nav-tabs" role="tablist" id="main-tabs">
    <li role="presentation" class="active"><a href="#textsearch" aria-controls="textsearch" role="tab" data-toggle="tab">Текстовый ассоциативный поиск</a></li>
    <li role="presentation"><a href="#rubricsearch" aria-controls="rubricsearch" role="tab" data-toggle="tab">Поиск по видам деятельности</a></li>
    <li role="presentation"><a href="#result" aria-controls="result" role="tab" data-toggle="tab">Результаты поиска</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="textsearch">
        <div class="container">
            <div class="row">
                <form id="formTextSearch">
                    <div class="form-group">
                        <label for="inputTextSearch">Поиск:</label>
                        <input type="text" class="form-control" id="inputTextSearch" placeholder="новостройки">
                        <p class="help-block">Данный тип поиска позволяет находить компании по любым критериям поиска, можно искать что угодно, результат скорее всего будет положительным. Для более точных результатов поиска пользуйтесь
                            <a href="#rubricsearch" class="gototab">поиском по видам деятельности</a>.</p>
                    </div>
                    {% block city %}
                    <div class="form-group">
                        <label for="inputCitySearch">Город:</label>
                        <select name="selectSearchCity" class="selectpicker" id="inputCitySearch" data-live-search="true" data-width="100%" data-style="btn-default input" title="[ выберите город ]">
                            {% for country in countries %}
                                <optgroup label="{{ country.name }}">
                                    {% for city in country.cities %}
                                        {% if city.selected %}
                                            <option value="{{ city.code }}" data-subtext="{{ city.children }}" selected>
                                                {{ city.name }}
                                            </option>
                                        {% else %}
                                            <option value="{{ city.code }}" data-subtext="{{ city.children }}">
                                                {{ city.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                        <p class="help-block">Выберите город в котором осуществляете поиск. По-умолчанию выбран город, в котором работает ваша компания, но если необходимо искать в другом городе, выбирайте смело другой город.</p>
                    </div>
                    {% endblock %}
                    {% block btn_search %}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-search"></i> Найти</button>
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="rubricsearch">
        <div class="container">
            <div class="row">
                <form id="formRubricSearch">
                    <div class="form-group">
                        <label for="inputRubricSearch">Вид деятельности:</label>
                        <select name="selectRubrics" id="inputRubricSearch" class="form-control" data-live-search="true" data-width="100%" data-style="btn-default input" title="[ выберите вид деятельности ]"></select>
                        <p class="help-block">Выберите вид деятельности в котором собираетесь искать потенциальных клиентов. Этот рубрикатор даст более точную выборку компаний нежели ассоциативный текстовый поиск, в том случае, если вы не можете найти подходящий вид деятельности, то вы можете переключиться в
                            <a href="#textsearch" class="gototab">текстовый ассоциативный поиск</a> и там ввести искомую комбинацию.</p>
                    </div>
                    {{ block('city') }}
                    {{ block('btn_search') }}
                </form>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="result">
        <table class="table table-striped table-bordered" id="resultTable">
            <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" name="selectAll" id="selectAllID" checked></th>
                    <th>Название компании</th>
                    <th>Адрес</th>
                    <th>Филиалов</th>
                    <th>Ответственный</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="info">Воспользуйтесь одним из методов поиска, чтобы получить результат.</td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center">
            <ul class="pagination">
                <li class="active"><a href="#">1 <span class="sr-only">(текущая)</span></a></li>
            </ul>
        </nav>
        <div class="text-right">
            <button type="button" class="btn btn-primary" disabled>Импортировать выбранные</button>
        </div>
    </div>
</div>
{% include 'layout/scripts.twig' %}
<script type="text/javascript" src="/public/js/jquery.stickytableheaders.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" src="/public/js/amocrm.min.js?apikey={{ request.apikey }}&subdomain={{ request.subdomain }}" data-name="amocrm"></script>
</body>
</html>
{% endspaceless %}
{% endif %}