{% if isBX24User %}
{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
	<style>
	.btn-config {
		position: fixed;
		top: 0;
		right: 0;
	}
	</style>
</head>
<body>
	<div id="wraper">
		<section class="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div id="search-options">
							<h2><span id="greeting">Добрый день!</span> &nbsp; 
								<small>Тариф компании: <span id="tariff">Демо</span></small></h2>
							<p class="lead">Начните с ввода вида деятельности. И если есть необходимость поменять город, также укажите город в котором будете производить поиск.</p>
							<form id="searchForm" class="form-horizontal">
								<div class="form-group form-group-lg">
									<label for="inputSearchText" class="control-label col-sm-2">Поиск:</label>
									<div class="col-sm-10">
										<input name="searchText" type="text" class="form-control" id="inputSearchText" placeholder="салоны красоты" aria-describedby="helpSearchText" autofocus>
										<span id="helpSearchText" class="help-block">Введите вид деятельности или название компании или еще какой-нибудь критерий поиска фирм, также как и в справочнике 2ГИС. <mark>Помните, каждый поисковый запрос тарифицируется.</mark></span>
									</div>
								</div>
								<div class="form-group form-group-lg">
									<label for="selectSearchCity" class="control-label col-sm-2">Город:</label>
									<div class="col-sm-10">
										<select name="searchCity" class="form-control" id="selectSearchCity" aria-describedby="helpSearchCity">
											{% for city in cities %}
												<option value="{{city.code}}">{{city.name}}</option>
											{% endfor %}
										</select>
										<span id="helpSearchCity" class="help-block">Выберите город в котором осуществляете поиск. По-умолчанию выбран город, в котором работает ваша компания, но если необходимо искать в другом городе, выбирайте смело другой город.</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button class="btn btn-primary btn-lg rounded" type="submit" id="searchButton">
											<i class="fa fa-search fa-fw"></i> Поиск
										</button> &nbsp; 
										<button type="button" class="btn btn-default btn-lg rounded" disabled="disabled">
											Осталось запросов: <span id="qty">0</span>
										</button>
									</div>
								</div>
							</form>
						</div>
						<div id="search-results" style="display:none;">
							<h2>
								Результаты поиска
								<button class="btn btn-success rounded" data-toggle="tooltip" data-placement="right" title="Открыть форму поиска" id="showSearchFom"><i class="fa fa-search"></i></button>
							</h2>
							<blockquote>
								По запросу «<strong id="searching"></strong>» найдено записей:
								<strong id="resultTotal"></strong>
							</blockquote>
							<div class="table-responsive">
								<table class="table table-bordered" id="tableResult">
									<thead>
										<tr>
											<th class="text-center"><input type="checkbox" name="selectAll" id="selectAllID" checked></th>
											<th>Название компании</th>
											<th>Адрес</th>
											<th>Кол-во филиалов</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<nav class="text-center">
								<ul class="pagination pagination-lg">
									<li>
										<a href="javascript:prevPage()" aria-label="Назад">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li>
										<a href="javascript:nextPage()" aria-label="Далее">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% if isAdmin %}
		<form action="/b24-install/" method="post" id="configForm">
			{% for name, value in request %}
				<input type="hidden" name="{{name}}" value="{{value}}">
			{% endfor %}
			<button type="submit" class="btn btn-lg btn-warning rounded btn-config" data-toggle="tooltip" data-placement="left" title="Настройка приложения"><i class="fa fa-cog"></i></button>
		</form>
	{% endif %}
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
	{% include 'layout/scripts.twig' %}
	<script type="text/javascript" src="/public/js/jquery.number.min.js"></script>
</body>
</html>
{% endspaceless %}
<script>
// Объявляем переменные
var page = 1;
var searchText = '';
var b24APIKey  = '';
var b24CityID = 0;
var tariff = '{{userData.tariff}}';
var qty = '{{userData.qty}}';

// Инициализируем Битрикс24
BX24.init(function() {
	// Подключаем подсказки
	$('[data-toggle="tooltip"]').tooltip();

	// Показываем текущий тариф пользователя
	// и остаток кол-ва запросов
	b24APIKey = BX24.appOption.get('LEAD4CRM_APIKEY');
	if (!tariff || !qty) {
		$.post('/getB24UserData/', {apikey: b24APIKey}, function(data) {
			$('#tariff').text(data.tariff);
			$('#qty').number(data.qty, 0, '.', ' ');
		});
	} else {
		if (b24APIKey == '{{apikey}}') {
			$('#tariff').text(tariff);
			$('#qty').number(qty, 0, '.', ' ');
		}
	}

	// Меняем приветствие в зависимости от времени суток
	BX24.callMethod('user.current', {}, function(res) {
		d = new Date();
		h = d.getHours();
		g = $('#greeting');
		if (h >= 5 && h < 12) {
			g.text('Доброе утро, ' + res.data().NAME + '!');
		} else {
			if (h >= 12 && h < 18) {
				g.text('Добрый день, ' + res.data().NAME + '!');
			} else {
				if (h >= 18 && h < 24) {
					g.text('Добрый вечер, ' + res.data().NAME + '!');
				} else {
					if (h >= 0 && h < 5) {
						g.text('Доброй ночи, ' + res.data().NAME + '!');
					}
				}
			}
		}
	});

	// Выставляем город по-умолчанию из
	// опций приложения, чтобы сразу можно было искать
	b24CityID = BX24.appOption.get('LEAD4CRM_CITYID');
	if (b24CityID) {
		$('#selectSearchCity').val(b24CityID);
	}

	// Добавляем возможно одновременно выделять 
	// или снимать выделения со всех найденных
	// фирм в списке таблицы результатов
	$('#selectAllID').click(function() {
		var checkedStatus = this.checked;
		$('#tableResult tbody tr').find('td:first :checkbox').each(function() {
			$(this).prop('checked', checkedStatus);
		});
	});

	$('#showSearchFom').click(function() {
		$('#search-options').slideToggle('fast');
		$('#search-results').slideToggle('fast',function() {
			var widthWrapper = $('#wrapper').width();
			var heightWrapper = $('#wrapper').height();
			alert(heightWrapper);
			BX24.resizeWindow(width, height);
		});
	})

	// Блокируем кнопку открытия конфигурации
	// и заодно добавляем немного анимации
	$('#configForm').submit(function(e) {
		$(this).find('button').attr('disabled', 'disabled');
		$(this).find('i.fa').addClass('fa-spin');
	});

	// Выполняем поиск предприятий по заданным критериям
	$('#searchForm').submit(function(e) {
		e.preventDefault();
		searchText = $('#inputSearchText').val();
		b24CityID = $('#selectSearchCity').val();
		if (searchText != '') {
			$('#inputSearchText').attr('disabled', 'disabled');
			$('#selectSearchCity').attr('disabled', 'disabled');
			$('#configForm').find('button').attr('disabled', 'disabled');
			$('#searchButton').attr('disabled', 'disabled');
			$('#searchButton').find('i').removeClass('fa-search')
				.addClass('fa-circle-o-notch fa-spin');
			var formData = {
				searchAPI: b24APIKey,
				searchDomain: '{{request.DOMAIN}}',
				searchText: searchText,
				searchCity: b24CityID}
			$.post('/getDataSearch/', formData, function(data) {
				$('#qty').number(data.qty, 0, '.', ' ');
				$('#searching').text($('#inputSearchText').val());
				$('#resultTotal').text(data.total);
				$('nav ul.pagination').find('li:not(:first):not(:last)').remove();
				$('#tableResult tbody').find('tr').remove();
				$('nav ul.pagination').find('li:first').addClass('disabled').after('<li class="active" id="page1"><span>1 <span class="sr-only">(текущая)</span></span></li>');
				if (data.total > 50) {
					var page = 2;
					for (var i = 50; i < data.total; i = i + 50) {
						$('nav ul.pagination').find('li:last').before('<li id="page'+page+'"><a href="javascript:gotoPage('+page+')">'+page+'</a></li>');
						page++;
					}
				}
				data.result.forEach(function(entry) {
					$('#tableResult').find('tbody').append('<tr><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" checked></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td></tr>')
				});
			}, 'json').done(function() {
				$('#inputSearchText').removeAttr('disabled');
				$('#selectSearchCity').removeAttr('disabled');
				$('#configForm').find('button').removeAttr('disabled');
				$('#searchButton').removeAttr('disabled');
				$('#searchButton').find('i').removeClass('fa-circle-o-notch fa-spin')
					.addClass('fa-search');
				$('#search-options').slideToggle('fast');
				$('#search-results').slideToggle('fast',function() {
					BX24.fitWindow();
				});
			});
		}
	});
});

// Изменяем размер фрейма под текущие контент
BX24.fitWindow();
</script>
{% endif %}