{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Добрый день!</h2>
						<p class="lead">Спасибо что выбрали наше приложение. Мы старались его сделать максимально удобным и функциональным. Для правильной работы приложения требуется указать всего пару параметров.</p>
						<form>
							<div class="form-group">
								<label for="inputAPIKey">Ключ доступа</label>
								<input name="apikey" type="text" class="form-control input-lg" placeholder="Введите персональный ключ доступа" value="{{apikey}}" aria-describedby="helpAPIKey">
								<span id="helpAPIKey" class="help-block">Ключ доступа можно найти в личном кабинете на сайте модуля <a href="http://www.lead4crm.ru" target="_blank">www.lead4crm.ru</a>. Если вы уже авторизованы на сайте <a href="http://www.lead4crm.ru" target="_blank">www.lead4crm.ru</a>, то скорее всего данное поле заполнено автоматически и вам не нужно никуда более переходить, достаточно просто выбрать правильный город и сохранить настройки.</span>
							</div>
							<div class="form-group">
								<label for="selectCityName">Выберите ваш город</label>
								<select name="city" class="form-control input-lg">
									<option value="0">[ выберите ваш город ]</option>
									{% for city in cities %}
										{% if city.selected %}
											<option value="{{city.code}}" selected>{{city.name}}</option>
										{% else %}
											<option value="{{city.code}}">{{city.name}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<button class="btn btn-primary btn-lg rounded" type="submit">
								<i class="fa fa-floppy-o"></i> &nbsp; 
								Сохранить
							</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
	{% include 'layout/scripts.twig' %}
</body>
</html>
{% endspaceless %}
<script>
BX24.callMethod('user.current', {}, function(res) {
	console.log(res)
})
</script>