{% if isBX24User %}
{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
	<style>
	.btn-config {
		position: fixed;
		top: 0;
		right: 0;
	}
	</style>
</head>
<body>
	<div id="wraper">
		<section class="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div id="search-options">
							<h2><span id="greeting">Добрый день!</span> &nbsp; 
								<small>Тариф компании: <span id="tariff">Демо</span></small></h2>
							<p class="lead">Начните с ввода вида деятельности. И если есть необходимость поменять город, также укажите город в котором будете производить поиск.</p>
							<form id="searchForm" class="form-horizontal">
								<div class="form-group form-group-lg">
									<label for="inputSearchText" class="control-label col-sm-2">Поиск:</label>
									<div class="col-sm-10">
										<input name="searchText" type="text" class="form-control" id="inputSearchText" placeholder="салоны красоты" aria-describedby="helpSearchText" autofocus>
										<span id="helpSearchText" class="help-block">Введите вид деятельности или название компании или еще какой-нибудь критерий поиска фирм, также как и в справочнике 2ГИС. <mark>Помните, каждый поисковый запрос тарифицируется.</mark></span>
									</div>
								</div>
								<div class="form-group form-group-lg">
									<label for="selectSearchCity" class="control-label col-sm-2">Город:</label>
									<div class="col-sm-10">
										<select name="searchCity" class="form-control" id="selectSearchCity" aria-describedby="helpSearchCity">
											{% for city in cities %}
												<option value="{{city.code}}">{{city.name}}</option>
											{% endfor %}
										</select>
										<span id="helpSearchCity" class="help-block">Выберите город в котором осуществляете поиск. По-умолчанию выбран город, в котором работает ваша компания, но если необходимо искать в другом городе, выбирайте смело другой город.</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button class="btn btn-primary btn-lg rounded" type="submit" id="searchButton">
											<i class="fa fa-fw fa-search"></i> Поиск
										</button> &nbsp; 
										<button type="button" class="btn btn-default btn-lg rounded" disabled="disabled">
											Осталось запросов: <span id="qty">0</span>
										</button>
									</div>
								</div>
							</form>
						</div>
						<div id="search-results" style="display:none;">
							<h2>
								Результаты поиска
								<button class="btn btn-success rounded" data-toggle="tooltip" data-placement="right" title="Открыть форму поиска" id="showSearchFom"><i class="fa fa-search"></i></button>
							</h2>
							<p class="lead">По-умолчанию система в автоматическом режиме пытается определить уже имеющиеся компании в вашем справочнике, если находятся совпадения, то данные компании не отмечаются на добавление. Тем не менее желательно просмотреть весь список и по возможности снять отметки с тех компаний, которые могут уже находиться в вашем справочнике, однако, могут называться по другому.</p>
							<blockquote>
								По запросу «<strong id="searching"></strong>» найдено записей:
								<strong id="resultTotal"></strong>
							</blockquote>
							<div class="table-responsive">
								<table class="table table-bordered" id="tableResult">
									<thead>
										<tr>
											<th class="text-center"><input type="checkbox" name="selectAll" id="selectAllID" checked></th>
											<th>Название компании</th>
											<th>Адрес</th>
											<th>Кол-во филиалов</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<nav class="text-center">
								<ul class="pagination pagination-lg">
									<li>
										<a href="javascript:prevPage()" aria-label="Назад">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li>
										<a href="javascript:nextPage()" aria-label="Далее">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
							<div class="well">
								<button id="startImport" class="btn btn-success btn-lg">Импортировать компании</button>
								<button id="totalInport" class="btn btn-default btn-lg" disabled="disabled">Всего отмечено к импорту: <span>0</span></button>
								<div class="progress" style="margin: 24px 0 0; display: none;">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% if isAdmin %}
		<form action="/b24-install/" method="post" id="configForm">
			{% for name, value in request %}
				<input type="hidden" name="{{name}}" value="{{value}}">
			{% endfor %}
			<button type="submit" class="btn btn-lg btn-warning rounded btn-config" data-toggle="tooltip" data-placement="left" title="Настройка приложения"><i class="fa fa-cog"></i></button>
		</form>
	{% endif %}
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
	{% include 'layout/scripts.twig' %}
	<script type="text/javascript" src="/public/js/jquery.number.min.js"></script>
</body>
</html>
{% endspaceless %}
<script>
// Объявляем переменные
var page = 1;
var searchText = '';
var b24APIKey  = '';
var b24CityID = 0;
var tariff = '{{userData.tariff}}';
var qty = '{{userData.qty}}';
var searchButtonHTML = '<i class="fa fa-fw fa-search"></i> Поиск';
var totalChecked = 0;
var totalFind = 0;

// Инициализируем Битрикс24
BX24.init(function() {
	// Подключаем подсказки
	$('[data-toggle="tooltip"]').tooltip();

	// Показываем текущий тариф пользователя
	// и остаток кол-ва запросов
	b24APIKey = BX24.appOption.get('LEAD4CRM_APIKEY');
	if (!tariff || !qty) {
		$.post('/getB24UserData/', {apikey: b24APIKey}, function(data) {
			$('#tariff').text(data.tariff);
			$('#qty').number(data.qty, 0, '.', ' ');
		});
	} else {
		if (b24APIKey == '{{apikey}}') {
			$('#tariff').text(tariff);
			$('#qty').number(qty, 0, '.', ' ');
		}
	}

	// Меняем приветствие в зависимости от времени суток
	BX24.callMethod('user.current', {}, function(res) {
		d = new Date();
		h = d.getHours();
		g = $('#greeting');
		if (h >= 5 && h < 12) {
			g.text('Доброе утро, ' + res.data().NAME + '!');
		} else {
			if (h >= 12 && h < 18) {
				g.text('Добрый день, ' + res.data().NAME + '!');
			} else {
				if (h >= 18 && h < 24) {
					g.text('Добрый вечер, ' + res.data().NAME + '!');
				} else {
					if (h >= 0 && h < 5) {
						g.text('Доброй ночи, ' + res.data().NAME + '!');
					}
				}
			}
		}
	});

	// Выставляем город по-умолчанию из
	// опций приложения, чтобы сразу можно было искать
	b24CityID = BX24.appOption.get('LEAD4CRM_CITYID');
	if (b24CityID) {
		$('#selectSearchCity').val(b24CityID);
	}

	// Определяем как называть кнопку поиска
	// в зависимости от введенного текста поиска
	$('#inputSearchText').keyup(function() {
		if (searchText) {
			if (searchText != $(this).val()) {
				$('#searchButton').html('<i class="fa fa-fw fa-search"></i> Поиск');
			} else {
				$('#searchButton').html(searchButtonHTML);
			}
		}
	});

	// Добавляем возможно одновременно выделять 
	// или снимать выделения со всех найденных
	// фирм в списке таблицы результатов
	$('#selectAllID').click(function() {
		var checkedStatus = this.checked;
		if (!checkedStatus) {
			totalChecked = 0;
		} else {
			if (totalFind > 50) {
				totalChecked = 50;
			} else {
				totalChecked = totalFind;
			}
		}
		$('#totalInport').find('span').text(totalChecked);
		$('#tableResult tbody tr').find('td:first :checkbox').each(function() {
			$(this).prop('checked', checkedStatus);
		});
	});

	// Запускаем по клику импорт выбранных компаний в справочник
	$('#startImport').click(function() {
		if (totalChecked > 0) {
			var importCompanyID = '';
			var importCompanyHash = '';
			for (var i = 1; i <= (totalFind > 50 ? 50 : totalFind); i++) {
				if ($('#company'+i).is(':checked')) {
					importCompanyID = $('#company'+i).attr('name');
					importCompanyHash = $('#company'+i).attr('value');
					console.log('ID:',importCompanyID,'HASH:',importCompanyHash);
				}
			}
		}
	})

	// Делаем возможность показать форму поиска
	// и меняем название кнопки поиска
	$('#showSearchFom').click(function() {
		$('#search-options').slideToggle('fast');
		$('#search-results').slideToggle('fast',function() {
			var widthWraper = $('#wraper').width();
			var heightWraper = $('#wraper').height();
			BX24.resizeWindow(widthWraper, heightWraper);
			searchButtonHTML = '<i class="fa fa-fw fa-caret-square-o-down"></i> Открыть результаты поиска';
			$('#searchButton').html(searchButtonHTML);
		});
	});

	// Блокируем кнопку открытия конфигурации
	// и заодно добавляем немного анимации
	$('#configForm').submit(function() {
		$(this).find('button').attr('disabled', 'disabled');
		$(this).find('i.fa').addClass('fa-spin');
	});

	// Выполняем поиск предприятий по заданным критериям
	$('#searchForm').submit(function(e) {
		e.preventDefault();
		if ($('#inputSearchText').val() != '') {
			if (searchText != $('#inputSearchText').val()) {
				totalChecked = 0;
				searchText = $('#inputSearchText').val();
				b24CityID = $('#selectSearchCity').val();
				$('#inputSearchText').attr('disabled', 'disabled');
				$('#selectSearchCity').attr('disabled', 'disabled');
				$('#configForm').find('button').attr('disabled', 'disabled');
				searchButtonHTML = '<i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Поиск';
				$('#searchButton').attr('disabled', 'disabled').html(searchButtonHTML);
				var formData = {
					searchAPI: b24APIKey,
					searchDomain: '{{request.DOMAIN}}',
					searchText: searchText,
					searchCity: b24CityID,
					searchPage: page};
				$.post('/getDataSearch/', formData, function(data) {
					totalFind = data.total
					$('#qty').number(data.qty, 0, '.', ' ');
					$('#searching').text(searchText);
					$('#resultTotal').text(data.total);
					$('nav ul.pagination').find('li:last').removeClass('disabled');
					$('nav ul.pagination').find('li:not(:first):not(:last)').remove();
					$('#tableResult tbody').find('tr').remove();
					$('nav ul.pagination').find('li:first').addClass('disabled').after('<li class="active" id="page1"><span>1 <span class="sr-only">(текущая)</span></span></li>');
					if (data.total > 50) {
						var pageNum = 2;
						for (var i = 50; i < data.total; i = i + 50) {
							$('nav ul.pagination').find('li:last').before('<li id="page'+pageNum+'"><a href="javascript:gotoPage('+pageNum+')">'+pageNum+'</a></li>');
							pageNum++;
						}
					} else {
						$('nav ul.pagination').find('li:last').addClass('disabled');
					}
					data.result.forEach(function(entry) {
						totalChecked++;
						$('#tableResult').find('tbody').append('<tr><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" onclick=changeMark("'+entry.id+'") id="company'+totalChecked+'" checked></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td></tr>');
					});
					$('#totalInport').find('span').text(totalChecked);
				}, 'json').done(function() {
					$('#inputSearchText').removeAttr('disabled');
					$('#selectSearchCity').removeAttr('disabled');
					$('#configForm').find('button').removeAttr('disabled');
					$('#searchButton').removeAttr('disabled');
					$('#searchButton').find('i').removeClass('fa-circle-o-notch fa-spin')
						.addClass('fa-search');
					$('#search-options').slideToggle('fast');
					$('#search-results').slideToggle('fast',function() {
						BX24.fitWindow();
					});
				});
			} else {
				$('#search-options').slideToggle('fast');
				$('#search-results').slideToggle('fast',function() {
					BX24.fitWindow();
				});
			}
		} else {
			$('#inputSearchText').removeClass('animated pulse').addClass('animated pulse').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
				$(this).removeClass('animated pulse');
			});
		}
	});
});

// Функция меняет итоговое кол-во импортируемых компаний
// отображаемых пользователю для удобства
function changeMark(id) {
	var status = $('input[name="' + id + '"]:checked').length;
	if (status)
		totalChecked++;
	else
		totalChecked--;
	$('#totalInport').find('span').text(totalChecked);
}

function gotoPage(pageTo) {
	var formData = {
		searchAPI: b24APIKey,
		searchDomain: '{{request.DOMAIN}}',
		searchText: searchText,
		searchCity: b24CityID,
		searchPage: pageTo};
	$('#page'+pageTo).html('<span><i class="fa fa-circle-o-notch fa-spin"></i></span>');
	$.post('/getDataSearch/', formData, function(data) {
		totalFind = data.total
		$('#qty').number(data.qty, 0, '.', ' ');
		$('#searching').text(searchText);
		$('#resultTotal').text(data.total);
		$('nav ul.pagination').find('li').removeClass('disabled');
		$('nav ul.pagination').find('li:not(:first):not(:last)').remove();
		$('#tableResult tbody').find('tr').remove();
		if (pageTo == 1) {
			$('nav ul.pagination').find('li:first').addClass('disabled').after('<li class="active" id="page1"><span>1 <span class="sr-only">(текущая)</span></span></li>');
			if (totalFind > 50) {
				var pageNum = 2;
				for (var i = 50; i < totalFind; i = i + 50) {
					$('nav ul.pagination').find('li:last').before('<li id="page'+pageNum+'"><a href="javascript:gotoPage('+pageNum+')">'+pageNum+'</a></li>');
					pageNum++;
				}
			} else {
				$('nav ul.pagination').find('li:last').addClass('disabled');
			}
		} else {
			if (totalFind > 50) {
				var pageNum = 1;
				for (var i = 0; i < totalFind; i = i + 50) {
					if (pageNum == pageTo) {
						$('nav ul.pagination').find('li:last').before('<li class="active" id="page'+pageNum+'"><span>'+pageNum+' <span class="sr-only">(текущая)</span></span></li>');
					} else {
						$('nav ul.pagination').find('li:last').before('<li id="page'+pageNum+'"><a href="javascript:gotoPage('+pageNum+')">'+pageNum+'</a></li>');
					}
					pageNum++;
				}
			} else {
				$('nav ul.pagination').find('li:last').addClass('disabled');
			}
		}
		totalChecked = 0;
		data.result.forEach(function(entry) {
			totalChecked++;
			$('#tableResult').find('tbody').append('<tr><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" onclick=changeMark("'+entry.id+'") checked></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td></tr>');
		});
		$('#totalInport').find('span').text(totalChecked);
	}, 'json').done(function() {
		$('#inputSearchText').removeAttr('disabled');
		$('#selectSearchCity').removeAttr('disabled');
		$('#configForm').find('button').removeAttr('disabled');
		$('#searchButton').removeAttr('disabled');
		$('#searchButton').find('i').removeClass('fa-circle-o-notch fa-spin')
			.addClass('fa-search');
		var widthWraper = $('#wraper').width();
		var heightWraper = $('#wraper').height();
		BX24.resizeWindow(1, 1, function() {
			BX24.resizeWindow(widthWraper, heightWraper, function() {
				BX24.fitWindow();
			});
		});
	});
}

// Изменяем размер фрейма под текущие контент
BX24.fitWindow();
</script>
{% endif %}