{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
	<style type="text/css" media="screen">
		.select button {width:100%; text-align:left;}
		.select .caret {position:absolute; right:10px; margin-top:10px;}
		.select:last-child>.btn {border-top-left-radius:5px; border-bottom-left-radius:5px;}
		.selected {padding-right:10px;}
		.option {width:100%;}	
	</style>
</head>
<body>
	<div id="wraper">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="{{mainpage_url}}">
						<img src="/public/images/logo.svg">
					</a>
				</div>
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
						<a href="/logout/" class="btn btn-primary md-trigger rounded">Выход</a>
					</div>
					<div class="nav-drop">
						<ul>
							<li>
								Баланс: <span id="balans">0</span>&nbsp;<i class="fa fa-rub"></i>
							</li>
							<li>
								Тарифный план: <span id="tariff">Демо</span>
							</li>
						</ul>
						<div class="drop-holder visible-sm visible-xs">
							<span>Следите</span>
							<ul class="social-networks">
								<li>
									<a href="https://www.facebook.com/lead4crm" class="fa fa-facebook"></a>
								</li>
								<li>
									<a href="http://vk.com/lead4crm" class="fa fa-vk"></a>
								</li>
								<li>
									<a href="https://plus.google.com/114159806572244188963" class="fa fa-google-plus"></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Личный кабинет</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 id="greeting">Добрый день!</h2>
						<p>Вы авторизовались на сайте системы моментального экспорта данных из справочника 2ГИС. Вы можете прямо из личного кабинета собрать выборку из 2ГИС, предварительно оплатив необходимый объем данных, либо воспользоваться удобным модулем для вашей CRM, если таковой модуль имеется. Для сбора выборки из базы следуйте указаниям мастера ниже. Ваши выборки будут храниться вечно и вы в любое время сможете вернуться за ними, однако, помните о том, что данные устаревают и, возможно, некоторые профили в сохраненных выборках уже не актуальны.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="main" style="background-color: #e3dfed;">
			<div class="container">
				<div class="row">
					<div class="col-md-6" id="wizard-helper">
						<h3>Мастер выборок &mdash; Шаг 1</h3>
						<p>Выберите из списка вашу CRM, ERP или BPM систему. Если используемой вами CRM, ERP или BPM системы нет в списке, вы можете написать нам письмо с предложением добавить используемую вами систему. Мы гарантируем реализацию экспорта данных в вашу систему в течении 14 дней, при условии, что мы не заняты в этот момент другой CRM/ERP/BPM, тогда все будет зависеть от очереди заказов.</p>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						<form action="/step-2/" id="wizard-form">
							<div class="form-group">
								<label>Название и версия CRM/ERP/BPM:</label>
								<select name="crm" id="selectCRM" class="form-control">
									<option value="nocrm" selected disabled>[ выберите вашу CRM/ERP/BPM ]</option>
									{% for crm_systems in crm_list %}
										<optgroup label="{{crm_systems.name}}">
											{% for crm in crm_systems.versions %}
												<option value="{{crm.id}}">{{crm.version}}</option>
											{% endfor %}
										</optgroup>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3>Ваши социальные аккаунты</h3>
						<p>Через эти социальные аккаунты вы сможете входить в свой личный кабинет. Если вы впервые авторизовались и у вас несколько аккаунтов, мы рекомендуем подключить все, для значительного упрощения при следующих авторизациях, в том числе чтобы в следующий раз заходя на наш сайт вы смогли попасть в свой старый аккаунт, а не создать новый, где снова придется вносить деньги на баланс и снова придется менять параметры в вашей CRM.</p>
						<blockquote>
							<p>На случае критической ситуации запомните или запишите ваш персональный номер, он может помочь вам при обращении в службу технической поддержки для решения проблем: <span class="badge">{{userid}}</span>
							</p>
						</blockquote>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						{% if not provider.fb or not provider.vk or not provider.gp or not provider.ok or not provider.mr or not provider.ya %}
							<h4>Не привязанные аккаунты</h4>
						{% endif %}
						{% if not provider.fb %}
							<a href="{{links.fblogin}}" class="btn btn-block btn-fb-color">Facebook</a>
						{% endif %}
						{% if not provider.vk %}
							<a href="{{links.vklogin}}" class="btn btn-block btn-vk-color">Вконтакте</a>
						{% endif %}
						{% if not provider.gp %}
							<a href="{{links.gplogin}}" class="btn btn-block btn-google-plus-color">Google+</a>
						{% endif %}
						{% if not provider.ok %}
							<a href="{{links.oklogin}}" class="btn btn-block btn-ok-color">Одноклассники</a>
						{% endif %}
						{% if not provider.mr %}
							<a href="{{links.mrlogin}}" class="btn btn-block btn-mailru-color">Mail.Ru</a>
						{% endif %}
						{% if not provider.ya %}
							<a href="{{links.yalogin}}" class="btn btn-block btn-ya-color">Яндекс</a>
						{% endif %}
						<h4>Привязанные аккаунты</h4>
						{% if provider.fb %}
							<a href="/unlink/fb/" class="btn btn-block active btn-fb-color">Facebook &nbsp; <span class="label label-default">{{provider.fb}}</span></a>
						{% endif %}
						{% if provider.vk %}
							<a href="/unlink/vk/" class="btn btn-block active btn-vk-color">Вконтакте &nbsp; <span class="label label-default">{{provider.vk}}</span></a>
						{% endif %}
						{% if provider.gp %}
							<a href="/unlink/gp/" class="btn btn-block active btn-google-plus-color">Google+ &nbsp; <span class="label label-default">{{provider.gp}}</span></a>
						{% endif %}
						{% if provider.ok %}
							<a href="/unlink/ok/" class="btn btn-block active btn-ok-color">Одноклассники &nbsp; <span class="label label-default">{{provider.ok}}</span></a>
						{% endif %}
						{% if provider.mr %}
							<a href="/unlink/mr/" class="btn btn-block active btn-mailru-color">Mail.Ru &nbsp; <span class="label label-default">{{provider.mr}}</span></a>
						{% endif %}
						{% if provider.ya %}
							<a href="/unlink/ya/" class="btn btn-block active btn-ya-color">Яндекс &nbsp; <span class="label label-default">{{provider.ya}}</span></a>
						{% endif %}
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<h3>Ключ доступа</h3>
						<p>Это ваш ключ доступа к нашей системе, для того, чтобы модуль начал работать необходимо ввести этот ключ в настройках нашего модуля. Во время установки вы явно видели форму, где необходимо было это сделать. Скопируйте и вставьте этот ключ в поле "Ключ доступа" в настройках модуля "Генератор лидов".</p>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						<div class="well text-center">
							<strong id="apikey">{{apikey}}</strong>
						</div>
						<div class="text-center">
							<button class="btn btn-primary" id="newapikey">
								<i class="fa fa-key"></i> &nbsp;
								Сделать новый ключ
							</button>
						</div>
						<h3>&nbsp;</h3>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<h3>Пополнение баланса</h3>
						<p>Для работы с системой вам понадобятся средства на личном счету.</p>
						<p>Юридические лица могут выписать самостоятельно счет на любую сумму и как только средства поступят на наш расчетный счет, мы сразу же зачислим эти деньги вам на лицевой счет. При первом пополнении придется дождаться реального зачисления денежных средств на наш расчетный счет, при дальнейших платежах, для ускорения процесса зачисления, достаточно будет выслать платежное поручение.</p>
						<p>Физическим лицам все намного проще. Для вас предусмотрено несколько вариантов пополнения лицевого счета. Практически все они дают возможность моментального пополнения баланса. Воспользуйтесь любым удобным вам способом и сразу же начинайте пользоваться системой.</p>
					</div>
					<div class="col-md-6">
						<h3>Физическим лицам</h3>
						<form action="https://money.yandex.ru/eshop.xml" method="post" target="_blank" id="yaform">
							<input type="hidden" name="shopId" value="{{ yaShopId }}">
							<input type="hidden" name="scid" value="{{ yaSCId }}">
							<input type="hidden" name="customerNumber" value="{{ userid }}">
							<input type="hidden" name="paymentType" value="AC">
							<div class="form-group">
								<label>Выберите форму оплаты:</label>
								<div class="input-group-btn select" id="select1">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="selected" id="AC">
											<img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa">
											<img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard">
											<img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro">
											Оплата с произвольной банковской карты
										</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu option" role="menu">
										<li id="PC">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/ya.png" alt="Яндекс.Деньги" data-toggle="tooltip" title="Яндекс.Деньги">
												Оплата из кошелька в Яндекс.Деньгах
											</a>
										</li>
										<li id="AC">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa">
												<img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard">
												<img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro">
												Оплата с произвольной банковской карты
											</a>
										</li>
										{# <li id="MC">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/beeline.png" alt="Билайн" data-toggle="tooltip" title="Билайн">
												<img src="https://kassa.yandex.ru/style/gfx/megafon.png" alt="Мегафон" data-toggle="tooltip" title="Мегафон">
												<img src="https://kassa.yandex.ru/style/gfx/mts.png" alt="МТС" data-toggle="tooltip" title="МТС">
												Платеж со счета мобильного телефона
											</a>
										</li> #}
										<li id="GP">
											<a href="#.">
												<i class="fa fa-money" style="color:green"></i>
												Оплата наличными через кассы и терминалы
											</a>
										</li>
										<li id="WM">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/webmoney.png" alt="WebMoney" data-toggle="tooltip" title="WebMoney">
												Оплата из кошелька в системе WebMoney
											</a>
										</li>
										{# <li id="SB">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/sberbank.png" alt="Сбербанк" data-toggle="tooltip" title="Сбербанк">
												Оплата через Сбербанк: оплата по SMS или Сбербанк Онлайн
											</a>
										</li> #}
										<li id="AB">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/alfa.png" alt="Альфа-Клик" data-toggle="tooltip" title="Альфа-Клик">
												Оплата через Альфа-Клик
											</a>
										</li>
										{# <li id="МА">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/masterpass.png" alt="MasterPass" data-toggle="tooltip" title="MasterPass">
												Оплата через MasterPass
											</a>
										</li> #}
										{# <li id="PB">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/psb.png" alt="Промсвязьбанк" data-toggle="tooltip" title="Промсвязьбанк">
												Оплата через Промсвязьбанк
											</a>
										</li> #}
									</ul>
								</div>
								<span class="help-block">Выберите удобный для вас способ пополнения счета. Внимание, если вы хотите оплатить привязанной банковской картой к Яндекс.Деньгам, то для этого надо выбрать «Оплата из кошелька в Яндекс.Деньгах». <mark>Напишите или позвоните нам, если требуется оплата через Промсвязьбанк, Сбербанк Онлайн, MasterPass или со счета мобильного телефона.</mark></span>
							</div>
							<div class="form-group">
								<label for="inputSum">Сумма пополнения</label>
								<div class="input-group input-group-lg">
									<input type="text" name="sum" placeholder='2 000.00' class="form-control" id="inputSum">
									<span class="input-group-addon" id="inputSum"><i class="fa fa-rub"></i></span>
								</div>
								<span id="helpBlock2" class="help-block">Введите сумму пополнения, при этом сумма не может быть меньше 100 рублей и не может превышать 250 000 рублей, а для некоторых видов оплаты сумма не может превышать 10 000 рублей. </span>
							</div>
							<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-external-link"></i> Перейти к оплате</button>
						</form>
						<hr>
						<h3>Юридическим лицам</h3>
						<form action="/getInvoice/" method="post">
							<div class="form-group">
								<label for="inputCompany">Наименование юридического лица</label>
								<input type="text" name="companyname" value='{{company}}' placeholder='ООО "Царь-Компания"' class="form-control input-lg" id="inputCompany" aria-describedby="helpBlock">
								<span id="helpBlock" class="help-block">Введите полное или сокращенное наименование компании, обязательно с указанием правовой формы, например: ООО "Царь-Компания".</span>
							</div>
							<div class="form-group">
								<label for="inputInvoiceSum">Сумма счета</label>
								<div class="input-group input-group-lg">
									<input type="text" name="invoicesum" placeholder='15 000.00' class="form-control" id="inputInvoiceSum" aria-describedby="helpBlock2">
									<span class="input-group-addon" id="inputInvoiceSum"><i class="fa fa-rub"></i></span>
								</div>
								<span id="helpBlock2" class="help-block">Введите сумму счета, которую планируете оплатить, при этом сумма не должна быть меньше 100 рублей.</span>
							</div>
							<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-file-pdf-o"></i>Выписать счет</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="area">
			<div class="container">
				<div class="subscribe">
					<h3>Выберите тарифный план</h3>
					<form class="form-inline" action="/setTariff/" method="post" id="tariffForm">
						<button type="submit" class="btn btn-primary rounded">Изменить</button>
						<div class="form-group">
							<select name="tariff" class="form-control">
								<option value="demo">[ Выберите подходящий тариф ]</option>
								{% for tariff in tariffs %}
									<option value="{{tariff.code}}">{{tariff.name}} ({{tariff.sum}} руб.)</option>
								{% endfor %}
							</select>
						</div>
					</form>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/tariff.twig' %}
	{% include 'layout/webcall.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/jquery.number.min.js"></script>
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
	<script src="/public/js/webcall.js"></script>
	{% jshrink %}
	<script type="text/javascript">
	$(document).ready(function() {
		greeting('#greeting');
		$('#inputSum').number(true, 2, '.', ' ');
		$('#inputInvoiceSum').number(true, 2, '.', ' ');
		selectText('apikey');

		$('#wizard-form').submit(function(event) {
			event.preventDefault();
			var crm_id = $(this).find('#selectCRM').val();
			if (crm_id != null)
				alert(crm_id);
		});

		$('body').on('mouseup', '.well', function() {
			selectText('apikey');
		});

		$('body').on('click','.option li',function() {
			var i = $(this).parents('.select').attr('id');
			var v = $(this).children().html();
			var o = $(this).attr('id');
			$('#'+i+' .selected').attr('id',o);
			$('input[name="paymentType"]').val(o);
			$('#'+i+' .selected').html(v);
		});

		$('body').on('click', '#newapikey', function() {
			var b = $(this);
			b.addClass('disabled');
			b.find('i.fa').removeClass('fa-key');
			b.find('i.fa').addClass('fa-spinner fa-pulse');
			$.get('/newAPIKey/', function(data) {
				$('#apikey').text(data);
			}).done(function() {
				b.removeClass('disabled');
				b.find('i.fa').removeClass('fa-spinner fa-pulse');
				b.find('i.fa').addClass('fa-key');
				selectText('apikey');
			});
		});

		$('#yaform').submit(function(event) {
			$('#inputSum').number(true, 2, '.', '');
			if ($('#inputSum').val() >= 100) {
				return true;
			} else {
				$('#inputSum').number(true, 2, '.', ' ');
				return false;
			}
		});

		$('#tariffForm').submit(function(e) {
			e.preventDefault();
			if ($('select[name="tariff"]').val() != 'demo') {
				var a = $(this).attr('action');
				var s = $(this).serialize();
				$('#tariffModal').modal('show');
				$('#tariffModal').find('#ok').on('click', function() {
					var b = $(this)
					var t = b.text();
					b.addClass('disabled');
					b.html('<i class="fa fa-fw fa-spinner fa-pulse"></i> ' + t);
					$.post(a,s,function(data) {
						$('#balans').number(data.balans, 2, '.', ' ');
						$('#tariff').text(data.tariff);
					}, 'json').done(function() {
						$('#tariffModal').modal('hide');
						b.removeClass('disabled');
						b.text(t);
					});
				});
			}
		});

		$.post('/getUserData/', function(data) {
			$('#balans').number(data.balans, 2, '.', ' ');
			$('#tariff').text(data.tariff);
		}, 'json');

	});

	function greeting(element) {
		var d = new Date(),
			h = d.getHours(),
			g = $(element);
		if (h >= 5 && h < 12)
			g.text('Доброе утро!');
		else
		{
			if (h >= 12 && h < 18)
				g.text('Добрый день!');
			else
			{
				if (h >= 18 && h < 24)
					g.text('Добрый вечер!');
				else
					g.html('Доброй ночи&hellip;');
			}
		}
	}

	function selectText(element) {
	    var doc = document;
	    var text = doc.getElementById(element);    

	    if (doc.body.createTextRange) { // ms
	        var range = doc.body.createTextRange();
	        range.moveToElementText(text);
	        range.select();
	    } else if (window.getSelection) { // moz, opera, webkit
	        var selection = window.getSelection();            
	        var range = doc.createRange();
	        range.selectNodeContents(text);
	        selection.removeAllRanges();
	        selection.addRange(range);
	    }
	}
	</script>
	{% endjshrink %}
</body>
</html>
{% endspaceless %}