{% spaceless %}
<!DOCTYPE html>
<html>
<head>
  {#{% include 'layout/transifex.twig' %}#}
  {% include 'layout/header.twig' %}
  <style type="text/css" media="screen">
    .select button {width:100%; text-align:left;}
    .select .caret {position:absolute; right:10px; margin-top:10px;}
    .select:last-child>.btn {border-top-left-radius:5px; border-bottom-left-radius:5px;}
    .selected {padding-right:10px;}
    .option {width:100%;} 
    #kk_help {border-bottom:1px dashed #333;cursor:help;}
    .wizard {background-color:#e3dfed;}
    .overlay {position:absolute;display:none;background-color:rgba(227,223,237,.8);width:100%;}
    .overlay .container {display:table;table-layout:fixed;height:100%;font-size:1.5em;}
    .overlay .row {display:table-cell;vertical-align:middle;height:100%;}
    /*#searchResult .table {width: 100%;}
    #searchResult thead, #searchResult tbody { display: block; }
    #searchResult tbody { height: 30vh; overflow: auto; }*/
    .dl-horizontal { height: 40vh; overflow: auto; }
    .dl-horizontal dt a {margin: 6px 0; line-height: 2.5; border-bottom: 1px dashed #8d81ac;}
    .dl-horizontal dd .btn {margin: 5px 3px;}
    .btn-invert { background-color: #333; color: #fff; }
    .btn-invert:hover { background-color: #000; color: #fff; }
  </style>
</head>
<body>
  <div id="wraper">
    <header id="header">
      <div class="container">
        <div class="logo">
          <a href="{{mainpage_url}}">
            <img src="/public/images/logo.svg">
          </a>
        </div>
        <nav id="nav">
          <div class="opener-holder">
            <a href="#" class="nav-opener"><span></span></a>
            <a href="/logout/" class="btn btn-primary md-trigger rounded">Выход</a>
          </div>
          <div class="nav-drop">
            <ul>
              <li>
                Доступно <span id="kk_help" title="Карточек Компаний">КК</span>: <notr><span id="qty">0</span></notr>
              </li>
              <li>
                Баланс: <notr><span id="balance">0</span>&nbsp;<i class="fa fa-rub"></i></notr>
              </li>
              <li>
                Тарифный план: <span id="tariff">Демо</span>
              </li>
            </ul>
            <div class="drop-holder visible-sm visible-xs">
              <span>Следите</span>
              <ul class="social-networks">
                <li>
                  <a href="https://www.facebook.com/lead4crm" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="http://vk.com/lead4crm" class="fa fa-vk"></a>
                </li>
                <li>
                  <a href="https://plus.google.com/114159806572244188963" class="fa fa-google-plus"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="visual-other">
      <div class="container">
        <div class="text-block">
          <div class="heading-holder">
            <h1>Личный кабинет</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="greeting">Добрый день!</h2>
            <p>Вы авторизовались на сайте системы моментального импорта данных из справочника 2ГИС. Вы можете прямо из личного кабинета собрать выборку из 2ГИС, предварительно оплатив необходимый объем данных, либо воспользоваться удобным модулем для вашей CRM, если таковой модуль имеется. Для сбора выборки из базы следуйте указаниям мастера ниже. Ваши выборки будут храниться вечно и вы в любое время сможете вернуться за ними, однако, помните о том, что данные устаревают и, возможно, некоторые профили в сохраненных выборках уже не актуальны.</p>
            <hr>
            <h2>Внимание! <small>Прочитайте объявления, это интересно всем.</small></h2>
            <p>В скором времени для поддерживаемых CRM систем мы собираемся запустить новую систему 100% запросов на закупки, в сявзи с чем хотели бы получить от всех желающих воспользоваться ею ваши заявки с указанием тех товаров и/или услуг, которые вы готовы предоставить.</p>
            <p><strong>Система гарантированных закупок будет работать следующим образом:</strong> вы выбираете подходящий для вас профиль деятельности, географию распространения вашей деятельности, выбираете из списка компании и получаете календарь закупок для этих компаний в свою CRM, в день Х в вашей CRM появляются задачи на отправку конкурсной документации с указанем крайних сроков. Таким образом вы заранее будете знать даты начала закупок и сможете заранее подготовить необходимые документы, в день Х вы получаете уведомление о начале торгов и согласно конкурсной документации вносите коррективы в уже подготовленные документы, отправляете их и все готово, остается только дождаться ответа и возможно вы получите именно эти заказы. Мы же в свою очередь готовы предоставить данные по вашей деятельности все компании, которые хотят получить именно ваш продукт или услугу и вы не пропустите ни одной закупки.</p>
            <p>Ваши заявки скидывайте нам на почту: help@lead4crm.ru с подробным описание тех услуг/товаров которые вы готовы поставить, а также вашу географию деятельности и реальные выполняемые объемы поставок (не преувеличивайте — возможно именно вас выберут и тогда вам придется выполнять условия контрактов).</p>
          </div>
        </div>
      </div>
    </section>
    <section class="main wizard">
      <div class="container">
        <div class="row">
          <div class="col-md-6" id="wizard-helper">
            <div id="step-1">
              <h3>Мастер выборок &mdash; Шаг 1</h3>
              <p>Выберите из списка вашу CRM, ERP или BPM систему. Если используемой вами CRM, ERP или BPM системы нет в списке, вы можете написать нам письмо с предложением добавить используемую вами систему. Мы гарантируем реализацию экспорта данных в вашу систему в течении 14 дней, при условии, что мы не заняты в этот момент другой CRM/ERP/BPM, тогда все будет зависеть от очереди заказов.</p>
            </div>
            <div id="step-2" style="display:none;">
              <h3>Мастер выборок &mdash; Шаг 2</h3>
              <p>Выберите город в котором вы хотите сделать выборку компаний из справочника 2ГИС. Для вашего удобства, мы попробовали автоматически определить ваш город, если все верно, можно переходить к следующему шагу.</p>
            </div>
            <div id="step-3" style="display:none;">
              <h3>Мастер выборок &mdash; Шаг 3</h3>
              <p>Выберите тип поиска компаний. Например, в ассоциативном поиске есть возможность самостоятельно указывать текст поиска, можно указать что угодно — вид деятельности, название компании или любые другие ключевые слова. А точечный поиск позволяет более плотно выполнять поиск по видам деятельности, тем самым отсеивая ненужные компании, которые не занимаются тем или иным видом деятельности.</p>
            </div>
            <div id="step-4" style="display:none;">
              <h3>Мастер выборок &mdash; Финиш</h3>
              <div class="hide" id="ii_help">
                <h4>Автоматизация</h4>
                <p>
                  Для тех, кто хочет не хочет заниматься самостоятельно импортом данных в CRM, предусмотрена внутрисистемная интеграция в вашу CRM. Если вы желаете автоматизировать процесс импорта компаний, но еще не делали привязку вашей CRM с системой Lead4CRM, нажмите на кнопку «Интегрироваться»
                </p>
                <h4>Ответственные сотрудники</h4>
                <p>
                  Если вы не видите ответственных сотрудников кроме нового пользователя и его непосредственного руководителя, то вам необходимо поменять статус сотрудника на «<mark>В&nbsp;штате</mark>».
                </p>
                <h4>Экспорт в CRM</h4>
                <p>
                  Экспорт делается в 2 этапа: сначала выполняете поиск и импорт компаний локально, а после кликаете по «Скачать выборку» в «Архиве выборок». Процесс экспорта в CRM после начала отменить нельзя, индикатор выполнения будет показывать сколько уже экспортировано, название экспортируемой компании, а также статус добавления. Данный процесс может затянуться на длительное время, поэтому рекомендуется запускать процесс экспорта тогда, когда вы не планируете ближайшее время работать с генератором лидов.
                </p>
                <h4>Аватар генератора лидов</h4>
                <p>
                  Если вы завели под «Генератор лидов» отдельного сотрудника и хотите поставить логотип, то вот от сюда его можно загрузить: <a href="/public/images/vcard-logo-1024x1024.jpg">https://www.lead4crm.ru/public/images/vcard-logo-1024x1024.jpg</a>
                </p>
              </div>
              <h4>Составление выборки / Импорт компаний</h4>
              <p>
                Скачайте сформированную выборку из списка выборок. Если выборки за предыдущие месяц, то скорее всего данные о компаниях устарели и в этом случае мы рекомендуем обновить данные, для этого достаточно повторно выполнить импорт устаревших данных.
              </p>
              <p>
                Все ранее импортированные компании помечены в таблицах двумя цветами: <span class="bg-success">зеленым</span> отмечены компании которые импортировались в текущем месяце и их нельзя повторно импортировать, <span class="bg-warning">оранжевым</span> отмечены компании которые импортировались в предыдущих месяцах, данные этих компаний могут измениться, их можно импортировать при необходимости повторно, тогда они попадут в выборку за текущий месяц, но старые данные останутся также в старых выборках.
              </p>
              <p>
                Если нет еще ни одной выборки, смело кликайте на копку «Импорт компаний» импортируйте одну или несколько компаний и тогда выборка будет создана и доступна для загрузки. Не забывайте о необходимости пополнения баланса, иначе вы не сможете импортировать ни одной компании. С нулевым балансом вы даже не сможете что-либо найти.
              </p>
              <h4>Ключевые сферы деятельности</h4>
              <p>
                Ключевые сферы деятельности здесь вынесены для тех случаев, когда есть необходимость добавления данных в локальный справочник вашей CRM / ERP / BPM системы. Просто кликайте по списку и копируйте выделение, вы не ошибётесь, по клику выделится вся строка.
              </p>
            </div>
            <div id="step-9999" style="display:none;">
              <h3>Мастер выборок &mdash; Финиш</h3>
              <p>Для выбранной вами системы есть специальный модуль, которым можно воспользоваться для составления базы потенциальных клиентов. Однако, вы всегда можете в случае необходимости загрузить архивную выборку, т.е. карточки компаний, которые вы ранее импортировали в свою систему в специальном модуле, но архив будет составляться только с 29 августа 2015 г.</p>
            </div>
          </div>
          <div class="col-md-6">
            <h3>&nbsp;</h3>
            <form action="/step-2/" id="wizard-form">
              <fieldset id="step-1">
                <div class="form-group">
                  <label>Название и версия CRM/ERP/BPM:</label>
                  <select name="crm" id="selectCRM" class="form-control">
                    <option selected disabled>[ выберите вашу CRM/ERP/BPM ]</option>
                    {% for crm_systems in crm_list %}
                      {% if (crm_systems.dev and admin) %}
                        <optgroup label="{{crm_systems.name}}">
                          {% for crm in crm_systems.versions %}
                            <option value="{{crm.id}}">{{crm.version}}</option>
                          {% endfor %}
                        </optgroup>
                      {% elseif not crm_systems.dev %}
                        <optgroup label="{{crm_systems.name}}">
                          {% for crm in crm_systems.versions %}
                            <option value="{{crm.id}}">{{crm.version}}</option>
                          {% endfor %}
                        </optgroup>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-2" style="display:none;">
                <div class="form-group">
                  <label>Город для выборки:</label>
                  <select name="city" id="selectCity" class="form-control">
                    {% for country in countries %}
                      <optgroup label="{{country.name}}">
                        {% for city in country.cities %}
                          {% if city.selected %}
                            <option value="{{city.code}}" selected>{{city.name}}</option>
                          {% else %}
                            <option value="{{city.code}}">{{city.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(1)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-3" style="display:none;">
                <div class="form-group">
                  <label>Тип поиска:</label>
                  <label class="btn btn-lg btn-block btn-default">
                    <input type="radio" name="searchType" value="0">
                    Ассоциативный поиск
                  </label>
                  <label class="btn btn-lg btn-block btn-default active">
                    <input type="radio" name="searchType" value="1" checked="checked">
                    Точечный поиск
                  </label>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(2)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-4" style="display:none;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" id="headingSelected" role="tab">
                      <h4 class="panel-title">
                        <a href="#collapseSelected" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseSelected">Архив выборок</a>
                      </h4>
                    </div>
                    <div id="collapseSelected" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSelected">
                      <div class="list-group">
                        <a href="#." class="list-group-item disabled">Выборки отсутствуют</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" id="headingRubrics" role="tab">
                      <h4 class="panel-title">
                        <a href="#collapseRubrics" class="collapsed" role="button" data-toggle="collapse" data-parent="#according" aria-expanded="false" aria-controls="collapseRubrics">Ключевые сферы деятельности <span class="badge">{{top_rubrics.rubrics|length + 1}}</span></a>
                      </h4>
                    </div>
                    <div id="collapseRubrics" class="panel-collapse collapse" tole="tabpanel" aria-labelledby="#headingRubrics">
                      <ul class="list-group">
                        {% for rubric in top_rubrics.rubrics %}
                          <li class="list-group-item" id="{{rubric.code}}" onclick="selectText('{{rubric.code}}')">{{rubric.name}}</li>
                        {% endfor %}
                        <li class="list-group-item" id="OTHER" onclick="selectText('OTHER')">Другое</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(3)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-cloud-download"></i> Импорт компаний</button>
              </fieldset>
              <fieldset id="step-9999" style="display:none;">
                <div class="form-group">
                  <label>Архив выборок:</label>
                </div>
                <div class="list-group">
                  <a href="#." class="list-group-item disabled">Выборки отсутствуют</a>
                </div>
                <a href="" target="_blank" class="btn btn-block btn-primary btn-lg" id="module-link">Установить модуль в «<span id="module-name"></span>»</a>
                <button type="submit" class="btn btn-block btn-link"><i class="fa fa-fw fa-arrow-left"></i> Назад</button>
              </fieldset>
            </form>
              <div id="ii" class="hide">
                <hr style="border-color:#8d81ac;">
                <div id="ii_html"></div>
              </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'layout/cabinet/overlay.twig' %}
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active" role="presentation">
                <a href="#tabBalans" aria-controls="tabBalans" role="tab" data-toggle="tab">Пополнение баланса</a>
              </li>
              <li role="presentation">
                <a href="#tabTariff" aria-controls="tabTariff" role="tab" data-toggle="tab">Тарифный план</a>
              </li>
              <li role="presentation">
                <a href="#tabAPIKey" aria-controls="tabAPIKey" role="tab" data-toggle="tab">Ключ доступа</a>
              </li>
              <li role="presentation">
                <a href="#tabSocAccounts" aria-controls="tabSocAccounts" role="tab" data-toggle="tab">Социальные аккаунты</a>
              </li>
              <li role="notification">
                <a href="#tabNotification" aria-controls="tabNotification" role="tab" data-toggle="tab">Уведомления</a>
              </li>
              {% if admin %}
              <li role="referal">
                <a href="#tabReferal" aria-controls="tabReferal" role="tab" data-toggle="tab">Реферальная программа</a>
              </li>
              {% endif %}
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tabBalans">
                {% include 'layout/cabinet/balance.twig' %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabTariff">
                {% include 'layout/cabinet/tariff.twig' %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabAPIKey">
                {% include 'layout/cabinet/apikey.twig' %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabSocAccounts">
                {% include 'layout/cabinet/socaccounts.twig' %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabNotification">
                {% include 'layout/cabinet/notification.twig' %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabReferal">
                {% include 'layout/cabinet/referal.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'layout/footer.twig' %}
  </div>
  {% include 'layout/export_dialog.twig' %}
  {% include 'layout/search_dialog.twig' %}
  {% include 'layout/tariff.twig' %}
  {% include 'layout/terms.twig' %}
  {# {% include 'layout/webcall.twig' %} #}
  {% include 'layout/scripts.twig' %}
  <script src="/public/js/jquery.number.min.js"></script>
  {# <script src="/public/js/classie.min.js"></script>
  <script src="/public/js/modalEffects.min.js"></script>
  <script src="/public/js/webcall.js"></script> #}
  {% if admin %}
    <script data-name="cabinet" src="/public/js/cabinet.js?c={{contract|url_encode}}&k={{apikey|url_encode}}&icq={{icq.uin|url_encode}}&sms={{sms.phone|url_encode}}&email={{email.address|url_encode}}"></script>
  {% else %}
    <script data-name="cabinet" src="/public/js/cabinet.min.js?c={{contract|url_encode}}&k={{apikey|url_encode}}&icq={{icq.uin|url_encode}}&sms={{sms.phone|url_encode}}&email={{email.address|url_encode}}"></script>
  {% endif %}
</body>
</html>
{% endspaceless %}