{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
	<style type="text/css" media="screen">
		.select button {width:100%; text-align:left;}
		.select .caret {position:absolute; right:10px; margin-top:10px;}
		.select:last-child>.btn {border-top-left-radius:5px; border-bottom-left-radius:5px;}
		.selected {padding-right:10px;}
		.option {width:100%;}	
	</style>
</head>
<body>
	<div id="wraper">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="{{mainpage_url}}">
						<img src="/public/images/logo.svg">
					</a>
				</div>
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
						<a href="/logout/" class="btn btn-primary md-trigger rounded">Выход</a>
					</div>
					<div class="nav-drop">
						<ul>
							<li>
								Баланс: <span>0</span> <i class="fa fa-rub"></i>
							</li>
							<li>
								Тарифный план: <span>Демо</span>
							</li>
						</ul>
						<div class="drop-holder visible-sm visible-xs">
							<span>Следите</span>
							<ul class="social-networks">
								<li>
									<a href="https://www.facebook.com/lead4crm" class="fa fa-facebook"></a>
								</li>
								<li>
									<a href="http://vk.com/lead4crm" class="fa fa-vk"></a>
								</li>
								<li>
									<a href="https://plus.google.com/114159806572244188963" class="fa fa-google-plus"></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Личный кабинет</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Добрый день!</h2>
						<p>Здесь храняться данные о вашей учетной записи, привязанных социальных профилях, текущем остатке на лицевом счету и текущий тарифный план. Остальное вы найдете непосредственной в самой CRM. Мы постарались сделать все очень очень простым, но тем не менее, если вдруг у Вас возникнут вопросы, позвоните нам и мы проконсультируем вас.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Ваши социальные аккаунты</h3>
						<p>Через эти социальные аккаунты вы сможете входить в свой личный кабинет. Если вы впервые авторизовались и у вас несколько аккаунтов, мы рекомендуем подключить все, для занчительного упрощения при следующих авторизациях, в том числе чтобы в следующий раз заходя на наш сайт вы смогли попасть в свой старый аккаунт, а не создать новый, где снова придется вносить деньги на баланс и снова придется менять параметры в вашей CRM.</p>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						<h4>Не привязанные аккаунты</h4>
						<h4>Привязанные аккаунты</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Ключ доступа</h3>
						<p>Это ваш ключ доступа к нашей системе, для того, чтобы модуль начал работать необходимо ввести этот ключ в настройках нашего модуля. Во время установки вы явно видели форму, где необходимо было это сделать. Скопируйте и вставьте этот ключ в поле "Ключ доступа" в настройках модуля "Генератор лидов".</p>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						<div class="well">
							<h4 class="text-center">{{apikey}}</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Пополнение баланса</h3>
						<p>Для работы с системой вам понадобяться средсва на личном счету.</p>
						<p>Юридические лица могут выписать самостоятельно счет на любую сумму и как только средства поступят на наш расчетный счет, мы сразу же зачислим эти деньгим вам на лицевой счет. При первом пополнении придется дождаться реального зачисления денежных средств на наш расчетный счет, при дальнейших платежах, для ускорения процесса зачисления, достаточно будет выслать платежное поручение.</p>
						<p>Физическим лицам все намного проще. Для вас предусмотрено несколько вариантов пополения лицевого счета. Практически все они дают возможность моментального пополения баланса. Воспользуйтесь любым удобным вам способом и сразу же начинайте пользоваться системой.</p>
					</div>
					<div class="col-md-6">
						<h3>&nbsp;</h3>
						<h4>Физическим лицам</h4>
						<form action="https://money.yandex.ru/eshop.xml" method="post">
							<input type="hidden" name="shopId" value="{{ yaShopId }}">
							<input type="hidden" name="scid" value="{{ yaSCId }}">
							<input type="hidden" name="customerNumber" value="{{ userid }}">
							<div class="form-group">
								<label>Выберите форму оплаты:</label>
								<div class="input-group-btn select" id="select2">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="selected">
											<img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa">
											<img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard">
											<img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro">
											Оплата с произвольной банковской картой.
										</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu option" role="menu">
										<li id="1">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/ya.png" alt="Яндекс.Деньги" data-toggle="tooltip" title="Яндекс.Деньги">
												Оплата из кошелька в Яндекс.Деньгах.
											</a>
										</li>
										<li id="2">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa">
												<img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard">
												<img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro">
												Оплата с произвольной банковской карты.
											</a>
										</li>
										<li id="3">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/beeline.png" alt="Билайн" data-toggle="tooltip" title="Билайн">
												<img src="https://kassa.yandex.ru/style/gfx/megafon.png" alt="Мегафон" data-toggle="tooltip" title="Мегафон">
												<img src="https://kassa.yandex.ru/style/gfx/mts.png" alt="МТС" data-toggle="tooltip" title="МТС">
												Платеж со счета мобильного телефона.
											</a>
										</li>
										<li id="4">
											<a href="#.">
												Оплата наличными через кассы и терминалы.
											</a>
										</li>
										<li id="5">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/webmoney.png" alt="WebMoney" data-toggle="tooltip" title="WebMoney">
												Оплата из кошелька в системе WebMoney.
											</a>
										</li>
										<li id="6">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/sberbank.png" alt="Сбербанк" data-toggle="tooltip" title="Сбербанк">
												Оплата через Сбербанк: оплата по SMS или Сбербанк Онлайн.
											</a>
										</li>
										<li id="6">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/alfa.png" alt="Альфа-Клик" data-toggle="tooltip" title="Альфа-Клик">
												Оплата через Альфа-Клик.
											</a>
										</li>
										<li id="7">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/masterpass.png" alt="MasterPass" data-toggle="tooltip" title="MasterPass">
												Оплата через MasterPass.
											</a>
										</li>
										<li id="8">
											<a href="#.">
												<img src="https://kassa.yandex.ru/style/gfx/psb.png" alt="Промсвязьбанк" data-toggle="tooltip" title="Промсвязьбанк">
												Оплата через Промсвязьбанк.
											</a>
										</li>
									</ul>
								</div>
							</div>
						</form>
						<h4>Юридическим лицам</h4>
						<form action="/getInvoice/" method="post">
							<div class="form-group">
								<label for="inputCompany">Наименование юридического лица</label>
								<input type="text" name="companyname" value='{{company|e(html_attr)}}' placeholder='ООО "Царь-Компания"' class="form-control input-lg" id="inputCompany" aria-describedby="helpBlock">
								<span id="helpBlock" class="help-block">Введите полное или сокращенное наименование компании, обязательно с указанием правовой формы, например: ООО "Царь-Компания".</span>
							</div>
							<div class="form-group">
								<label for="inputInvoiceSum">Сумма счета</label>
								<div class="input-group input-group-lg">
									<input type="text" name="invoicesum" placeholder='15 000.00' class="form-control" id="inputInvoiceSum" aria-describedby="helpBlock2">
									<span class="input-group-addon" id="inputInvoiceSum"><i class="fa fa-rub"></i></span>
								</div>
								<span id="helpBlock2" class="help-block">Введите сумму счета, которую планируете оплатить, при этом сумма не должна быть меньше 100 рублей.</span>
							</div>
							<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-file-pdf-o"></i> Выписать счет</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="area">
			<div class="container">
				<div class="subscribe">
					<h3>Выберите тарифный план</h3>
					<form class="form-inline">
						<button type="submit" class="btn btn-primary rounded">Изменить</button>
						<div class="form-group">
							<select name="tariff" class="form-control">
								<option>[ Выберите подходящий тариф ]</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/jquery.number.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#inputInvoiceSum').number(true, 2, '.', ' ');

		$('body').on('click','.option li',function(){
			var i = $(this).parents('.select').attr('id');
			var v = $(this).children().html();
			var o = $(this).attr('id');
			$('#'+i+' .selected').attr('id',o);
			$('#'+i+' .selected').html(v);
		});
	});
	</script>
</body>
</html>
{% endspaceless %}