mixin unlink_button(href, name, soc_id, color)
	a(href=href, class!='btn btn-block active ' + color) #{name} &nbsp;
		span.label.label-success #{soc_id}

mixin link_button(href, name, color)
	a(href=href, class!='btn btn-block ' + color)= name

doctype html
html
	head
		include header.jade
	body
		#wrapper
			header#header
				.container
					.logo: a(href=mainpage_url): img(src="/images/logo.svg")
					nav#nav
						.opener-holder
							a(href="#").nav-opener: span
						a(href="/logout").btn.btn-primary.rounded Выход
						.nav-drop
							ul
								li.visible-sm.visible-xs: a(href=mainpage_url) Главная
								li Баланс: #[span 0] #[i.fa.fa-rub]
								li Тарифный план: #[span Демо]
							.drop-holder.visible-sm.visible-xs
								span Следите
								ul.social-networks
									li: a(href="#").fa.fa-github
									li: a(href="#").fa.fa-twitter
									li: a(href="#").fa.fa-facebook
			section.visual-other
				.container
					.text-block
						.heading-holder: h1 Личный кабинет
			section.area
				.container
					.row
						.col-md-12
							h2 Добрый день!
							p.
								Здесь храняться данные о вашей учетной записи, привязанных социальных профилях, текущем остатке на лицевом счету и текущий тарифный план. Остальное вы найдете непосредственной в самой CRM. Мы постарались сделать все очень очень простым, но тем не менее, если вдруг у Вас возникнут вопросы, позвоните нам и мы проконсультируем вас.
					.row
						.col-md-6
							h3 Ваши социальные аккаунты
							p.
								Через эти социальные аккаунты вы сможете входить в свой личный кабинет. Если вы впервые авторизовались и у вас несколько аккаунтов, мы рекомендуем подключить все, для занчительного упрощения при следующих авторизациях, в том числе чтобы в следующий раз заходя на наш сайт вы смогли попасть в свой старый аккаунт, а не создать новый, где снова придется вносить деньги на баланс и снова придется менять параметры в вашей CRM.
						.col-md-6
							if !fb_id || !vk_id || !gp_id || !ok_id || !mr_id || !ya_id
								h4 Не привязанные аккаунты

							if !fb_id
								+link_button('/cabinet/link/fb', 'Привязать аккаунт Facebook', 'btn-fb-color')
							
							if !vk_id
								+link_button('/cabinet/link/vk', 'Привязать аккаунт Вконтакте', 'btn-vk-color')

							if !gp_id
								+link_button('/cabinet/link/gp', 'Привязать аккаунт Google+', 'btn-google-plus-color')

							if !ok_id
								+link_button('/cabinet/link/ok', 'Привязать аккаунт Одноклассники', 'btn-ok-color')

							if !mr_id
								+link_button('/cabinet/link/mr', 'Привязать аккаунт Mail.Ru', 'btn-mailru-color')
							
							if !ya_id
								+link_button('/cabinet/link/ya', 'Привязать аккаунт Яндекс', 'btn-ya-color')
							h4 Привязанные аккаунты
							if fb_id
								+unlink_button('/cabinet/unlink/fb', 'Отвязать аккаунт Facebook', fb_id, 'btn-fb-color')
							
							if vk_id
								+unlink_button('/cabinet/unlink/vk', 'Отвязать аккаунт Вконтакте', vk_id, 'btn-vk-color')

							if gp_id
								+unlink_button('/cabinet/unlink/gp', 'Отвязать аккаунт Google+', gp_id, 'btn-google-plus-color')

							if ok_id
								+unlink_button('/cabinet/unlink/ok', 'Отвязать аккаунт Одноклассники', ok_id, 'btn-ok-color')

							if mr_id
								+unlink_button('/cabinet/unlink/mr', 'Отвязать аккаунт Mail.Ru', mr_id, 'btn-mailru-color')
							
							if ya_id
								+unlink_button('/cabinet/unlink/ya', 'Отвязать аккаунт Яндекс', ya_id, 'btn-ya-color')
					.row
						.col-md-6
							h3 Ключ доступа
							p.
								Это ваш ключ доступа к нашей системе, для того, чтобы модуль начал работать необходимо ввести этот ключ в настройках нашего модуля. Во время установки вы явно видели форму, где необходимо было это сделать. Скопируйте и вставьте этот ключ в поле "Ключ доступа" в настройках модуля "Генератор лидов".
						.col-md-6
							h3 &nbsp;
							.well
								h4.text-center= apikey

			section.area
				.container
					.subscribe
						h3 Выберите тарифный план
						form.form-inline
							button(type="button").btn.btn-primary.rounded Изменить
							.form-group
								select.form-control.rounded.tariff
									option(name=0) [ Выберите подходящий тариф ]
									each val, index in tariff_select
										option(name=index)=val
								//- input(type="email", placeholder="Электропочта", value=user_email).form-control.rounded
							
			include footer.jade

		include scripts.jade