{% spaceless %}
<!DOCTYPE html>
<html>
<head>
  {% include 'layout/transifex.twig' %}
  {% include 'layout/header.twig' %}
  <style type="text/css" media="screen">
    .select button {width:100%; text-align:left;}
    .select .caret {position:absolute; right:10px; margin-top:10px;}
    .select:last-child>.btn {border-top-left-radius:5px; border-bottom-left-radius:5px;}
    .selected {padding-right:10px;}
    .option {width:100%;} 
    #kk_help {border-bottom:1px dashed #333;cursor:help;}
    .wizard {background-color:#e3dfed;}
    .overlay {position:absolute;display:none;background-color:rgba(227,223,237,.8);width:100%;}
    .overlay .container {display:table;table-layout:fixed;height:100%;font-size:1.5em;}
    .overlay .row {display:table-cell;vertical-align:middle;height:100%;}
    /*#searchResult .table {width: 100%;}
    #searchResult thead, #searchResult tbody { display: block; }
    #searchResult tbody { height: 30vh; overflow: auto; }*/
    .dl-horizontal { height: 40vh; overflow: auto; }
    .dl-horizontal dt a {margin: 6px 0; line-height: 2.5; border-bottom: 1px dashed #8d81ac;}
    .dl-horizontal dd .btn {margin: 5px 3px;}
    .btn-invert { background-color: #333; color: #fff; }
    .btn-invert:hover { background-color: #000; color: #fff; }
  </style>
</head>
<body>
  <div id="wraper">
    <header id="header">
      <div class="container">
        <div class="logo">
          <a href="{{mainpage_url}}">
            <img src="/public/images/logo.svg">
          </a>
        </div>
        <nav id="nav">
          <div class="opener-holder">
            <a href="#" class="nav-opener"><span></span></a>
            <a href="/logout/" class="btn btn-primary md-trigger rounded">Выход</a>
          </div>
          <div class="nav-drop">
            <ul>
              <li>
                Доступно <span id="kk_help" title="Карточек Компаний">КК</span>: <notr><span id="qty">0</span></notr>
              </li>
              <li>
                Баланс: <notr><span id="balans">0</span>&nbsp;<i class="fa fa-rub"></i></notr>
              </li>
              <li>
                Тарифный план: <span id="tariff">Демо</span>
              </li>
            </ul>
            <div class="drop-holder visible-sm visible-xs">
              <span>Следите</span>
              <ul class="social-networks">
                <li>
                  <a href="https://www.facebook.com/lead4crm" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="http://vk.com/lead4crm" class="fa fa-vk"></a>
                </li>
                <li>
                  <a href="https://plus.google.com/114159806572244188963" class="fa fa-google-plus"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="visual-other">
      <div class="container">
        <div class="text-block">
          <div class="heading-holder">
            <h1>Личный кабинет</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="greeting">Добрый день!</h2>
            <p>Вы авторизовались на сайте системы моментального экспорта данных из справочника 2ГИС. Вы можете прямо из личного кабинета собрать выборку из 2ГИС, предварительно оплатив необходимый объем данных, либо воспользоваться удобным модулем для вашей CRM, если таковой модуль имеется. Для сбора выборки из базы следуйте указаниям мастера ниже. Ваши выборки будут храниться вечно и вы в любое время сможете вернуться за ними, однако, помните о том, что данные устаревают и, возможно, некоторые профили в сохраненных выборках уже не актуальны.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="main wizard">
      <div class="container">
        <div class="row">
          <div class="col-md-6" id="wizard-helper">
            <div id="step-1">
              <h3>Мастер выборок &mdash; Шаг 1</h3>
              <p>Выберите из списка вашу CRM, ERP или BPM систему. Если используемой вами CRM, ERP или BPM системы нет в списке, вы можете написать нам письмо с предложением добавить используемую вами систему. Мы гарантируем реализацию экспорта данных в вашу систему в течении 14 дней, при условии, что мы не заняты в этот момент другой CRM/ERP/BPM, тогда все будет зависеть от очереди заказов.</p>
            </div>
            <div id="step-2" style="display:none;">
              <h3>Мастер выборок &mdash; Шаг 2</h3>
              <p>Выберите город в котором вы хотите сделать выборку компаний из справочника 2ГИС. Для вашего удобства, мы попробовали автоматически определить ваш город, если все верно, можно переходить к следующему шагу.</p>
            </div>
            <div id="step-3" style="display:none;">
              <h3>Мастер выборок &mdash; Шаг 3</h3>
              <p>Выберите тип поиска компаний. Например, в ассоциативном поиске есть возможность самостоятельно указывать текст поиска, можно указать что угодно — вид деятельности, название компании или любые другие ключевые слова. А точечный поиск позволяет более плотно выполнять поиск по видам деятельности, тем самым отсеивая ненужные компании, которые не занимаются тем или иным видом деятельности.</p>
            </div>
            <div id="step-4" style="display:none;">
              <h3>Мастер выборок &mdash; Финиш</h3>
              <p>
                Скачайте сформированную выборку из списка выборок. Если выборки за предыдущие месяц, то скорее всего данные о компаниях устарели и в этом случае мы рекомендуем обновить данные, для этого достаточно повторно выполнить импорт устаревших данных.
              </p>
              <p>
                Все ранее импортированные компании помечены в таблицах двумя цветами: <span class="bg-success">зеленым</span> отмечены компании которые импортировались в текущем месяце и их нельзя повторно импортировать, <span class="bg-warning">оранжевым</span> отмечены компании которые импортировались в предыдущих месяцах, данные этих компаний могут измениться, их можно импортировать при необходимости повторно, тогда они попадут в выборку за текущий месяц, но старые данные останутся также в старых выборках.
              </p>
              <p>
                Если нет еще ни одной выборки, смело кликайте на копку «Импорт компаний» импортируйте одну или несколько компаний и тогда выборка будет создана и доступна для загрузки. Не забывайте о необходимости пополнения баланса, иначе вы не сможете импортировать ни одной компании. С нулевым балансом вы даже не сможете что-либо найти.
              </p>
              <p>Ключевые сферы деятельности здесь вынесены для тех случаев, когда есть необходимость добавления данных в локальный справочник вашей CRM / ERP / BPM системы. Просто кликайте по списку и копируйте выделение, вы не ошибётесь, по клику выделится вся строка.</p>
            </div>
            <div id="step-9999" style="display:none;">
              <h3>Мастер выборок &mdash; Финиш</h3>
              <p>Для выбранной вами системы есть специальный модуль, которым можно воспользоваться для составления базы потенциальных клиентов. Однако, вы всегда можете в случае необходимости загрузить архивную выборку, т.е. карточки компаний, которые вы ранее импортировали в свою систему в специальном модуле, но архив будет составляться только с 29 августа 2015 г.</p>
            </div>
          </div>
          <div class="col-md-6">
            <h3>&nbsp;</h3>
            <form action="/step-2/" id="wizard-form">
              <fieldset id="step-1">
                <div class="form-group">
                  <label>Название и версия CRM/ERP/BPM:</label>
                  <select name="crm" id="selectCRM" class="form-control">
                    <option selected disabled>[ выберите вашу CRM/ERP/BPM ]</option>
                    {% for crm_systems in crm_list %}
                      <optgroup label="{{crm_systems.name}}">
                        {% for crm in crm_systems.versions %}
                          <option value="{{crm.id}}">{{crm.version}}</option>
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-2" style="display:none;">
                <div class="form-group">
                  <label>Город для выборки:</label>
                  <select name="city" id="selectCity" class="form-control">
                    {% for country in countries %}
                      <optgroup label="{{country.name}}">
                        {% for city in country.cities %}
                          {% if city.selected %}
                            <option value="{{city.code}}" selected>{{city.name}}</option>
                          {% else %}
                            <option value="{{city.code}}">{{city.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(1)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-3" style="display:none;">
                <div class="form-group">
                  <label>Тип поиска:</label>
                  <label class="btn btn-lg btn-block btn-default">
                    <input type="radio" name="searchType" value="0">
                    Ассоциативный поиск
                  </label>
                  <label class="btn btn-lg btn-block btn-default active">
                    <input type="radio" name="searchType" value="1" checked="checked">
                    Точечный поиск
                  </label>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(2)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-arrow-right"></i> Далее</button>
              </fieldset>
              <fieldset id="step-4" style="display:none;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" id="headingSelected" role="tab">
                      <h4 class="panel-title">
                        <a href="#collapseSelected" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseSelected">Архив выборок</a>
                      </h4>
                    </div>
                    <div id="collapseSelected" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSelected">
                      <div class="list-group">
                        <a href="#." class="list-group-item disabled">Выборки отсутствуют</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" id="headingRubrics" role="tab">
                      <h4 class="panel-title">
                        <a href="#collapseRubrics" class="collapsed" role="button" data-toggle="collapse" data-parent="#according" aria-expanded="false" aria-controls="collapseRubrics">Ключевые сферы деятельности <span class="badge">{{top_rubrics.rubrics|length + 1}}</span></a>
                      </h4>
                    </div>
                    <div id="collapseRubrics" class="panel-collapse collapse" tole="tabpanel" aria-labelledby="#headingRubrics">
                      <ul class="list-group">
                        {% for rubric in top_rubrics.rubrics %}
                          <li class="list-group-item" id="{{rubric.code}}" onclick="selectText('{{rubric.code}}')">{{rubric.name}}</li>
                        {% endfor %}
                        <li class="list-group-item" id="OTHER" onclick="selectText('OTHER')">Другое</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="wizardStep(3)">Назад <i class="fa fa-fw fa-arrow-left"></i></button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-cloud-download"></i> Импорт компаний</button>
              </fieldset>
              <fieldset id="step-9999" style="display:none;">
                <div class="form-group">
                  <label>Архив выборок:</label>
                </div>
                <div class="list-group">
                  <a href="#." class="list-group-item disabled">Выборки отсутствуют</a>
                </div>
                <a href="" target="_blank" class="btn btn-block btn-primary btn-lg" id="module-link">Установить модуль в «<span id="module-name"></span>»</a>
                <button type="submit" class="btn btn-block btn-link"><i class="fa fa-fw fa-arrow-left"></i> Назад</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="main overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fa fa-spinner fa-pulse fa-3x"></i>
            <br>Пожалуйста, подождите&hellip;
            <br>Идет обработка данных.
          </div>
        </div>
      </div>
    </section>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active" role="presentation">
                <a href="#tabBalans" aria-controls="tabBalans" role="tab" data-toggle="tab">Пополнение баланса</a>
              </li>
              <li role="presentation">
                <a href="#tabTariff" aria-controls="tabTariff" role="tab" data-toggle="tab">Тарифный план</a>
              </li>
              <li role="presentation">
                <a href="#tabAPIKey" aria-controls="tabAPIKey" role="tab" data-toggle="tab">Ключ доступа</a>
              </li>
              <li role="presentation">
                <a href="#tabSocAccounts" aria-controls="tabSocAccounts" role="tab" data-toggle="tab">Социальные аккаунты</a>
              </li>
              <li role="notification">
                <a href="#tabNotification" aria-controls="tabNotification" role="tab" data-toggle="tab">Уведомления</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tabBalans">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Пополнение баланса</h3>
                    <p>Для работы с системой вам понадобятся средства на личном счету.</p>
                    <p>Юридические лица могут выписать самостоятельно счет на любую сумму и как только средства поступят на наш расчетный счет, мы сразу же зачислим эти деньги вам на лицевой счет. При первом пополнении придется дождаться реального зачисления денежных средств на наш расчетный счет, при дальнейших платежах, для ускорения процесса зачисления, достаточно будет выслать платежное поручение.</p>
                    <p>Физическим лицам все намного проще. Для вас предусмотрено несколько вариантов пополнения лицевого счета. Практически все они дают возможность моментального пополнения баланса. Воспользуйтесь любым удобным вам способом и сразу же начинайте пользоваться системой.</p>
                    <p>У нас нет никакой привязки в типа платильщика, поэтому вы можете пополнять свой баланс так как захотите, например ранее вы пополняли баланс как юридическое лицо, но вам не хватило запросов и потребовалось пополнить баланс всего на пару сотен, то проще сделать это как физическое лицо.</p>
                  </div>
                  <div class="col-md-6">
                    <h3>Физическим лицам</h3>
                    <form action="https://money.yandex.ru/eshop.xml" method="post" target="_blank" id="yaform">
                      <input type="hidden" name="shopId" value="{{ yaShopId }}">
                      <input type="hidden" name="scid" value="{{ yaSCId }}">
                      <input type="hidden" name="customerNumber" value="{{ userid }}">
                      <input type="hidden" name="paymentType" value="AC">
                      <div class="form-group">
                        <label>Выберите форму оплаты:</label>
                        <div class="input-group-btn select" id="select1">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="selected" id="AC">
                              <notr><img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa"> <img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard"> <img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro"></notr>
                              Оплата с произвольной банковской карты
                            </span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu option" role="menu">
                            <li id="PC">
                              <a href="#.">
                                <notr><img src="https://kassa.yandex.ru/style/gfx/ya.png" alt="Яндекс.Деньги" data-toggle="tooltip" title="Яндекс.Деньги"></notr>
                                Оплата из кошелька в Яндекс.Деньгах
                              </a>
                            </li>
                            <li id="AC">
                              <a href="#.">
                                <notr><img src="https://kassa.yandex.ru/style/gfx/visa.png" alt="Visa" data-toggle="tooltip" title="Visa"> <img src="https://kassa.yandex.ru/style/gfx/mastercard.png" alt="MasterCard" data-toggle="tooltip" title="MasterCard"> <img src="https://kassa.yandex.ru/style/gfx/maestro.png" alt="Maestro" data-toggle="tooltip" title="Maestro"></notr>
                                Оплата с произвольной банковской карты
                              </a>
                            </li>
                            {# <li id="MC">
                              <a href="#.">
                                <notr>
                                  <img src="https://kassa.yandex.ru/style/gfx/beeline.png" alt="Билайн" data-toggle="tooltip" title="Билайн">
                                  <img src="https://kassa.yandex.ru/style/gfx/megafon.png" alt="Мегафон" data-toggle="tooltip" title="Мегафон">
                                  <img src="https://kassa.yandex.ru/style/gfx/mts.png" alt="МТС" data-toggle="tooltip" title="МТС">
                                </notr>
                                Платеж со счета мобильного телефона
                              </a>
                            </li> #}
                            <li id="GP">
                              <a href="#.">
                                <i class="fa fa-money" style="color:green"></i>
                                Оплата наличными через кассы и терминалы
                              </a>
                            </li>
                            <li id="WM">
                              <a href="#.">
                                <notr><img src="https://kassa.yandex.ru/style/gfx/webmoney.png" alt="WebMoney" data-toggle="tooltip" title="WebMoney"></notr>
                                Оплата из кошелька в системе WebMoney
                              </a>
                            </li>
                            {# <li id="SB">
                              <a href="#.">
                                <img src="https://kassa.yandex.ru/style/gfx/sberbank.png" alt="Сбербанк" data-toggle="tooltip" title="Сбербанк">
                                Оплата через Сбербанк: оплата по SMS или Сбербанк Онлайн
                              </a>
                            </li> #}
                            <li id="AB">
                              <a href="#.">
                                <notr><img src="https://kassa.yandex.ru/style/gfx/alfa.png" alt="Альфа-Клик" data-toggle="tooltip" title="Альфа-Клик"></notr>
                                Оплата через Альфа-Клик
                              </a>
                            </li>
                            {# <li id="МА">
                              <a href="#.">
                                <notr>
                                  <img src="https://kassa.yandex.ru/style/gfx/masterpass.png" alt="MasterPass" data-toggle="tooltip" title="MasterPass">
                                </notr>
                                Оплата через MasterPass
                              </a>
                            </li> #}
                            <li id="PB">
                              <a href="#.">
                                <notr><img src="https://kassa.yandex.ru/style/gfx/psb.png" alt="Промсвязьбанк" data-toggle="tooltip" title="Промсвязьбанк"></notr>
                                Оплата через Промсвязьбанк
                              </a>
                            </li>
                          </ul>
                        </div>
                        <span class="help-block">Выберите удобный для вас способ пополнения счета. Внимание, если вы хотите оплатить привязанной банковской картой к Яндекс.Деньгам, то для этого надо выбрать «Оплата из кошелька в Яндекс.Деньгах». <mark>Напишите или позвоните нам, если требуется оплата через Промсвязьбанк, Сбербанк Онлайн, MasterPass или со счета мобильного телефона.</mark></span>
                      </div>
                      <div class="form-group">
                        <label for="inputSum">Сумма пополнения</label>
                        <div class="input-group input-group-lg">
                          <input type="text" name="sum" placeholder='2 000.00' class="form-control" id="inputSum">
                          <span class="input-group-addon" id="inputSum"><i class="fa fa-rub"></i></span>
                        </div>
                        <span id="helpBlock2" class="help-block">Введите сумму пополнения, при этом сумма не может быть меньше 100 рублей и не может превышать 250 000 рублей, а для некоторых видов оплаты сумма не может превышать 10 000 рублей. </span>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-external-link"></i> Перейти к оплате</button>
                    </form>
                    <hr>
                    <h3>Юридическим лицам</h3>
                    <form action="/getInvoice/" method="post">
                      <div class="form-group">
                        <label for="inputCompany">Наименование юридического лица</label>
                        <input type="text" name="companyname" value='{{company}}' placeholder='ООО "Царь-Компания"' class="form-control input-lg" id="inputCompany" aria-describedby="helpBlock">
                        <span id="helpBlock" class="help-block">Введите полное или сокращенное наименование компании, обязательно с указанием правовой формы, например: ООО "Царь-Компания".</span>
                      </div>
                      <div class="form-group">
                        <label for="inputInvoiceSum">Сумма счета</label>
                        <div class="input-group input-group-lg">
                          <input type="text" name="invoicesum" placeholder='15 000.00' class="form-control" id="inputInvoiceSum" aria-describedby="helpBlock2">
                          <span class="input-group-addon" id="inputInvoiceSum"><i class="fa fa-rub"></i></span>
                        </div>
                        <span id="helpBlock2" class="help-block">Введите сумму счета, которую планируете оплатить, при этом сумма не должна быть меньше 100 рублей.</span>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-fw fa-file-pdf-o"></i>Выписать счет</button>
                    </form>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabTariff">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Изменение тарифного плана</h3>
                    <p>При балансе равном какому-либо тарифному плану, появляется возможность активировать данный тариф на вашем аккаунте. Вы не сможете активировать более дорогой тариф, если баланс лицевого счета меньше стоимости тарифа, более того, данный тариф даже не появиться в списке тарифов.</p>
                    <p>Любой тариф необходимо активировать всего один раз, последующие активации проходят в автоматическом режиме каждый месяц, при наличии достаточной суммы на балансе лицевого счета.</p>
                    <p>Если так получилось, что на момент продления тарифного плана на вашем лицевом счету не оказалось достаточной суммы для данной операции, то ваш аккаунт автоматически будет переведен на тарифный план «Демо».</p>
                  </div>
                  <div class="col-md-6">
                    <h3>&nbsp;</h3>
                    <form action="/setTariff/" method="post" id="tariffForm">
                      <div class="form-group">
                        <select name="tariff" class="form-control">
                          <option value="demo">[ Выберите подходящий тариф ]</option>
                          {% for tariff in tariffs %}
                            <option value="{{tariff.code}}">{{tariff.name}} ({{tariff.sum}} руб.)</option>
                          {% endfor %}
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary rounded">Изменить</button>
                    </form>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabAPIKey">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Ключ доступа</h3>
                    <p>Это ваш ключ доступа к нашей системе, для того, чтобы нативный модуль начал работать необходимо ввести этот ключ в настройках модуля. Во время установки вы явно видели форму, где необходимо было это сделать. Скопируйте и вставьте этот ключ в поле "Ключ доступа" в настройках модуля "Генератор лидов". Если для вашей системы нет нативного модуля, но этот ключ вам не пригодится.</p>
                  </div>
                  <div class="col-md-6">
                    <h3>&nbsp;</h3>
                    <div class="well text-center">
                      <notr><strong id="apikey">{{apikey}}</strong></notr>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-primary" id="newapikey">
                        <notr><i class="fa fa-key"></i> &nbsp;</notr>
                        Сделать новый ключ
                      </button>
                    </div>
                    <h3>&nbsp;</h3>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabSocAccounts">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Ваши социальные аккаунты</h3>
                    <p>Через эти социальные аккаунты вы сможете входить в свой личный кабинет. Если вы впервые авторизовались и у вас несколько аккаунтов, мы рекомендуем подключить все, для значительного упрощения при следующих авторизациях, в том числе чтобы в следующий раз заходя на наш сайт вы смогли попасть в свой старый аккаунт, а не создать новый.</p>
                    <blockquote>
                      <p>В случае критической ситуации запомните или запишите ваш персональный номер, он может помочь вам при обращении в службу технической поддержки для решения проблем: <span class="badge notr">{{userid}}</span>
                      </p>
                    </blockquote>
                  </div>
                  <div class="col-md-6">
                    <h3>&nbsp;</h3>
                    {% if not provider.fb or not provider.vk or not provider.gp or not provider.ok or not provider.mr or not provider.ya %}
                      <h4>Не привязанные аккаунты</h4>
                    {% endif %}
                    {% if not provider.fb %}
                      <a href="{{links.fblogin}}" class="btn btn-block btn-fb-color">Facebook</a>
                    {% endif %}
                    {% if not provider.vk %}
                      <a href="{{links.vklogin}}" class="btn btn-block btn-vk-color">Вконтакте</a>
                    {% endif %}
                    {% if not provider.gp %}
                      <a href="{{links.gplogin}}" class="btn btn-block btn-google-plus-color">Google+</a>
                    {% endif %}
                    {% if not provider.ok %}
                      <a href="{{links.oklogin}}" class="btn btn-block btn-ok-color">Одноклассники</a>
                    {% endif %}
                    {% if not provider.mr %}
                      <a href="{{links.mrlogin}}" class="btn btn-block btn-mailru-color">Mail.Ru</a>
                    {% endif %}
                    {% if not provider.ya %}
                      <a href="{{links.yalogin}}" class="btn btn-block btn-ya-color">Яндекс</a>
                    {% endif %}
                    <h4>Привязанные аккаунты</h4>
                    {% if provider.fb %}
                      <a href="/unlink/fb/" class="btn btn-block active btn-fb-color">Facebook<notr> &nbsp; <span class="label label-default">{{provider.fb}}</span></notr></a>
                    {% endif %}
                    {% if provider.vk %}
                      <a href="/unlink/vk/" class="btn btn-block active btn-vk-color">Вконтакте<notr> &nbsp; <span class="label label-default">{{provider.vk}}</span></notr></a>
                    {% endif %}
                    {% if provider.gp %}
                      <a href="/unlink/gp/" class="btn btn-block active btn-google-plus-color">Google+<notr> &nbsp; <span class="label label-default">{{provider.gp}}</span></notr></a>
                    {% endif %}
                    {% if provider.ok %}
                      <a href="/unlink/ok/" class="btn btn-block active btn-ok-color">Одноклассники<notr> &nbsp; <span class="label label-default">{{provider.ok}}</span></notr></a>
                    {% endif %}
                    {% if provider.mr %}
                      <a href="/unlink/mr/" class="btn btn-block active btn-mailru-color">Mail.Ru<notr> &nbsp; <span class="label label-default">{{provider.mr}}</span></notr></a>
                    {% endif %}
                    {% if provider.ya %}
                      <a href="/unlink/ya/" class="btn btn-block active btn-ya-color">Яндекс<notr> &nbsp; <span class="label label-default">{{provider.ya}}</span></notr></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabNotification">
                <div class="row">
                  <div class="col-md-3">
                    <p class="text-center"><img class="img-responsive" src="https://telegram.org/img/t_logo.png" alt=""></p>
                  </div>
                  <div class="col-md-9">
                    <h3>Telegram</h3>
                    <p>Приятная новость для тех, кто хочет везде и во всем контролировать различные действия. Не смотря на то, что наш сервис предусматривает авторизацию только по персональным социальным аккаунтам, которыми навряд ли кто-либо будет делиться, тем не менее мы посчитали нужным включить уведомления об изменении баланса, об импорте компаний, а также отправлять предупреждения об очередном будущем списании средств в счет продления тарифного плана.</p>
                    <p>Пока уведомления поступают только в мессенджер Телеграм</p>
                    <p>Запустить очень просто:</p>
                    <ol>
                      <li>Установите <a href="https://telegram.org" target="_blank">Telegram</a>.</li>
                      <li>Подключите бота <a href="https://telegram.me/lead4crmbot" target="_blank">@lead4crmbot</a></li>
                      <li>Введите команду: <code id="tlgrm_step1" onclick="selectText('tlgrm_step1')">/start {{apikey}}</code></li>
                      <li>Введите команду: <code id="tlgrm_step2" onclick="selectText('tlgrm_step2')">/notify company on</code></li>
                      <li>Введите команду: <code id="tlgrm_step3" onclick="selectText('tlgrm_step3')">/notify renewal on</code></li>
                      <li>Введите команду: <code id="tlgrm_step4" onclick="selectText('tlgrm_step4')">/notify balans on</code></li>
                      <li>Готово!</li>
                    </ol>
                    <div class="alert alert-warning"><strong>Внимание!</strong> Если вы хотите чтобы уведомления поступали в групповой чат, необходимо после добавления бота в групповой чат снова выполнить команду: <code id="tlgrm_start" onclick="selectText('tlgrm_start')">/start {{apikey}}</code>. Больше никаких команд выполнять не нужно, если ранее вы все настроили.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p class="text-center"><img src="/public/images/icons-bundle-icq.png" alt="" class="img-responsive"></p>
                  </div>
                  <div class="col-md-9">
                    <h3>ICQ</h3>
                    <p>Да, да! Мы также решили включить поддержку старой, доброй аськи. Очень скоро появиться информация о том, как настроить уведомления в любимой асечке. Работы уже ведутся...</p>
                    {% if (admin) %}
                      <form action="/icq/setting/" id="formICQSetting" class="form-horizontal">
                        <div class="form-group input-group-lg" id="groupICQUIN">
                          <label for="inputICQUIN" class="col-sm-2 control-label">ICQ UIN:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputICQUIN" placeholder="881129" value="{{uicq}}" aria-describedby="helpICQUIN">
                            <span id="helpICQUIN" class="help-block">Введите ваш или любой другой ICQ UIN на который вы хотите получать уведомления, но при первой настройке его необходимо будет подтвердить.</span>
                          </div>
                        </div>
                        <div class="form-group input-group-lg" id="groupICQNotify">
                          <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                              <label><input type="checkbox" name="notify" value="company" aria-describedby="helpICQNotifyCompany" {% if (icq.company == 't') %}checked{% endif %}> Уведомлять об импорте компаний.</label>
                              <span id="helpICQNotifyCompany" class="help-block">Внимание! Уведомление поступает при каждом импорте компаний, поэтому даже при 50 одновременно добавляемых компаний вы получите 50 сообщений.</span>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="notify" value="balans" aria-describedby="helpICQNotifyBalans" {% if (icq.balans == 't') %}checked{% endif %}> Уведомлять об изменении баланса.</label>
                              <span id="helpICQNotifyBalans" class="help-block">Уведомления будут приходить при уменьшении или увеличении баланса. Вы всегда будете в курсе суммы списания или зачисления, но информатор не отправляет оставшуюся сумма на лицевом счету.</span>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="notify" value="renewal" aria-describedby="helpICQNotifyRenewal" {% if (icq.renewal == 't') %}checked{% endif %}> Уведомлять о предстоящем продлении тарифного плана.</label>
                              <span id="helpICQNotifyRenewal" class="help-block">На всех тарифах кроме "Демо" действует система ежемесячного списания средств с лицевого счета для продления тарифа. Для того, чтобы не забыть предварительно пополнить баланс, рекомендуем включить данную опцию, иначе вы можете пропустить дату продления о оказаться на тарифе "Демо", где стоимость каждой компании значительно больше любого платного тарифа.</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-group-lg hide" id="groupICQCode">
                          <label for="inputICQCode" class="col-sm-2 control-label">Код:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputICQCode" aria-describedby="helpICQCode">
                            <span class="input-group-btn"><button type="button" onclick="sendICQCode('{{uicq}}')" class="btn btn-default">Отправить повторно</button></span>
                            <span id="helpICQCode" class="help-block">Введите код подтверждения, который вы должны были получить на ранее указанный UIN. Помните, если у вас стоит настройка необходимости авторизации пользователя перед получением от него сообщений, то вам необходимо заранее добавить UIN нашего ICQ информатора в список контактов.</span>
                          </div>
                        </div>
                        <div class="form-group input-group-lg">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary">Сохранить</button>
                          </div>
                        </div>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'layout/footer.twig' %}
  </div>
  {% include 'layout/search_dialog.twig' %}
  {% include 'layout/tariff.twig' %}
  {# {% include 'layout/login.twig' %} #}
  {# {% include 'layout/webcall.twig' %} #}
  {% include 'layout/scripts.twig' %}
  <script src="/public/js/jquery.number.min.js"></script>
  {# // <script src="/public/js/classie.min.js"></script> #}
  {# // <script src="/public/js/modalEffects.min.js"></script> #}
  {# // <script src="/public/js/webcall.js"></script> #}
  {# {% jshrink %} #}
  <script type="text/javascript">
  var totalChecked = 0,
      totalFind = 0,
      qty = 0;

  $(document).ready(function() 
  {
    console.dir('{{icq}}');
    /* Меняем приветствие в зависимости от времени суток у пользователя. А также подгружаем
       и показываем данные пользователя о текущем балансе и тарифе.
    ========================================================================================= */
    greeting('#greeting');
    $('#kk_help').tooltip({
      placement: 'auto'
    });
    $('[data-toggle="tooltip"]').tooltip({
      placement: 'auto'
    });
    $.post('/getUserData/', function(data) {
      $('#balans').number(data.balans, 2, '.', ' ');
      $('#tariff').text(data.tariff);
      $('#qty').number(data.qty, 0, '.', ' ');
      qty = data.qty;
    }, 'json');

    /* Мастер экспорта данных из 2ГИС
    ========================================================================================= */
    var current_step = 1;
    $('#wizard-form').submit(function(event) {
      event.preventDefault();
      var form_action = $(this).attr('action');
      var crm_id = $(this).find('#selectCRM').val();
      var city = $(this).find('#selectCity').val();
      var searchType = $(this).find('input[name="searchType"]:checked').val();
      var wzd_pos = $('.wizard').offset(),
          wzd_height = $('.wizard').height();
      $(this).find('fieldset').attr('disabled', 'disabled');
      $('.overlay').css({ 'top': wzd_pos.top, 'left': wzd_pos.left }).height(wzd_height).fadeIn('fast');
      if (form_action == '/step-1/') {
        $('.overlay').fadeOut();
        $(this).find('fieldset').removeAttr('disabled');
        $(this).attr('action', '/step-2/');
        $('#wizard-helper #step-'+current_step).fadeOut('fast', function() {
          $('#wizard-helper #step-1').fadeIn('fast');
        });
        $('#wizard-form #step-'+current_step).fadeOut('fast', function() {
          $('#wizard-form #step-1').fadeIn('fast');
        });
      } else if (form_action == '/step-2/') {
        if (crm_id != null) {
          localStorage.setItem('crm_id', crm_id);
          $.post(form_action, {crm_id: crm_id}, function(data) {
            $('.overlay').fadeOut();
            $('#wizard-form').find('fieldset').removeAttr('disabled');
            if (data.error == '0') {
              if (data.module) {
                renderSelections(9999);
                current_step = 9999;
                $('#wizard-form').attr('action', '/step-1/');
                $('#wizard-helper #step-1').fadeOut('fast', function() {
                  $('#wizard-helper #step-9999').fadeIn('fast');
                });
                $('#wizard-form #step-1').fadeOut('fast', function() {
                  $('#wizard-form #step-9999').find('#module-link').attr('href', data.module);
                  $('#wizard-form #step-9999').find('#module-name').text(data.name);
                  $('#wizard-form #step-9999').fadeIn('fast');
                });
              } else {
                current_step = 2;
                $('#wizard-form').attr('action', '/step-3/');
                $('#wizard-helper #step-1').fadeOut('fast', function() {
                  $('#wizard-helper #step-2').fadeIn('fast');
                });
                $('#wizard-form #step-1').fadeOut('fast', function() {
                  $('#wizard-form #step-2').fadeIn('fast');
                });
              }
            }
          }, 'json');
        } else {
          $('.overlay').fadeOut();
          $('#wizard-form').find('fieldset').removeAttr('disabled');
        }
      } else if (form_action == '/step-3/') {
        if (city != null) {
          localStorage.setItem('city_id', city);
          $('.overlay').fadeOut();
          $('#wizard-form').find('fieldset').removeAttr('disabled');
          current_step = 3;
          $('#wizard-form').attr('action', '/step-4/');
          $('#wizard-helper #step-2').fadeOut('fast', function() {
            $('#wizard-helper #step-3').fadeIn('fast');
          });
          $('#wizard-form #step-2').fadeOut('fast', function() {
            $('#wizard-form #step-3').fadeIn('fast');
          });
        } else {
          $('.overlay').fadeOut();
          $('#wizard-form').find('fieldset').removeAttr('disabled');
        }
      } else if (form_action == '/step-4/') {
        if (searchType != null) {
          localStorage.setItem('search_id', searchType);
          renderSelections(4);
          $('.overlay').fadeOut();
          $('#wizard-form').find('fieldset').removeAttr('disabled');
          current_step = 4;
          $('#wizard-form').attr('action', '/showSearchDialog/');
          $('#wizard-helper #step-3').fadeOut('fast', function() {
            $('#wizard-helper #step-4').fadeIn('fast');
          });
          $('#wizard-form #step-3').fadeOut('fast', function() {
            $('#wizard-form #step-4').fadeIn('fast');
          });
        }
      } else if (form_action == '/showSearchDialog/') {
        if (searchType == 1) {
          $('#searchDialog-'+searchType).find('dl').empty();
          if (localStorage.getItem('2GISRubrics')) {
            var rubrics = JSON.parse(localStorage.getItem('2GISRubrics'));
            rubricListConstructor(rubrics);
            showSearchDialog(searchType, crm_id, city);
          } else {
            var postData = {
              importAPI: '{{apikey}}',
              importDomain: 'www.lead4crm.ru'
            };
            $.post('/getRubricList/', postData, function (data) {
              if (data.error == 0) {
                if (data.rubrics) {
                  localStorage.setItem('2GISRubrics', JSON.stringify(data.rubrics));
                  rubricListConstructor(data.rubrics);
                }
              }
            }, 'json').done(function() {
              showSearchDialog(searchType, crm_id, city);
            });
          }
        } else showSearchDialog(searchType, crm_id, city);
      }
    });

    var search_text_prev = '';
    $('#searchDialog-0 form').submit(function(event) {
      event.preventDefault();
      var search_text = $(this).find('#searchInput').val();
      var city_id = localStorage.getItem('city_id');
      if (search_text != search_text_prev && search_text != '') {
        search_text_prev = search_text;
        renderPage(1, search_text);
      }
    });

    $('[id^=searchDialog-] #ok').click(function() {
      if (qty < totalChecked) {
        alert("Вы указали слишком большое кол-во компаний для импорта.\n\nВы можете импортировать всего: "+qty);
        return;
      } else {
        if (totalChecked > 0) {
          var totalProgress = 0;
          var index = 1;
          var companyID = 0, companyHash = '';
          var progressIcrement = Math.floor(100/totalChecked);
          var $import_button = $(this);
          var $modal_content = $(this).parent().parent();
          var $progressElement = $modal_content.find('.progress');
          var $companyIndex = 0;
          $(this).attr('disabled', 'disabled');
          $progressElement.fadeIn('fast', function() {
            $progressElement
              .find('.progress-bar')
              .addClass('progress-bar-striped')
              .css('width', '0%').text('0%');
            for (index = 1; index <= (totalFind > 50 ? 50 : totalFind); index++) {
              $companyIndex = $modal_content.find('#company'+index);
              if ($companyIndex.prop('checked')) {
                companyID = $companyIndex.attr('name');
                companyHash = $companyIndex.attr('value');
                importCompany(companyID, companyHash, true, function() {
                  totalChecked--;
                  $progressElement.find('.progress-bar').css('width', function (index, value) {
                    var fWidth = $progressElement.width();
                    totalProgress += progressIcrement;
                    return fWidth / (totalChecked + 1);
                  }).text(totalProgress+'%');
                  if (totalChecked > 0)
                    $import_button.html('Импортировать отмеченные <notr>('+totalChecked+')</notr>');
                  else {
                    $progressElement
                      .find('progress-bar')
                      .removeClass('progress-bar-striped')
                      .css('width', '100%')
                      .text('100%');
                    $import_button.text('Импортировать отмеченные');
                  }
                });
              }
            }
            setTimeout(function() {
              $progressElement.fadeOut('slow');
            }, 2000);
          });
        }
      }
    });

    /* Меняем класс активности на кнопках в зависимости от выбранного радио.
    ========================================================================================= */
    $('input[name="searchType"]').click(function() {
      $(this).parent().parent().find('label.active').removeClass('active');
      $(this).parent().addClass('active');
    });

    /* После закрытия диалогового окна поиска разблокируем форму мастера выборок.
    ========================================================================================= */
    $('[id^=searchDialog-]').on('hidden.bs.modal', function (e) {
      renderSelections(4);
      $('.overlay').fadeOut();
      $('#wizard-form').find('fieldset').removeAttr('disabled');
    });

    /* Устанавливаем фокус в поисковой строке ассоциативного поиска, при открытии диалога
       поиска.
    ========================================================================================= */
    $('#searchDialog-0').on('shown.bs.modal', function() {
      var modal = $(this);
      modal.find('input[type="text"]').focus();
    });

    /* Выделяем ключ доступа, чтобы после авторизации и по клику по нему можно было бы сразу
       копировать ключ полностью и без погрешности ошибки при выделении пользователем
       самостоятельно.
    ========================================================================================= */
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr('href').substring(1);
      if (target == 'tabAPIKey')
        selectText('apikey');
    });
    $('body').on('mouseup', '.well', function() {
      selectText('apikey');
    });

    /* Меняем уникальный ключ доступа и показываем новый без перезагрузки страницы.
    ========================================================================================= */
    $('body').on('click', '#newapikey', function() {
      var b = $(this);
      b.addClass('disabled');
      b.find('i.fa').removeClass('fa-key');
      b.find('i.fa').addClass('fa-spinner fa-pulse');
      $.get('/newAPIKey/', function(data) {
        $('#apikey').text(data);
      }).done(function() {
        b.removeClass('disabled');
        b.find('i.fa').removeClass('fa-spinner fa-pulse');
        b.find('i.fa').addClass('fa-key');
        selectText('apikey');
      });
    });

    /* Выбираем соответствующий метод оплаты. Это не совсем стандартный список. Потребовалось
       так извратиться из-за внедрения картинок в список выбора метода оплаты.
    ========================================================================================= */
    $('body').on('click','.option li',function() {
      var i = $(this).parents('.select').attr('id');
      var v = $(this).children().html();
      var o = $(this).attr('id');
      $('#'+i+' .selected').attr('id',o);
      $('input[name="paymentType"]').val(o);
      $('#'+i+' .selected').html(v);
    });

    /* Проверяем сумму оплаты. Не позволяем сработать форме до момента пока пользователь не
       введет требуемую минимальную сумму. Остальные ограничения по суммам смотрит сама
       платежная система.
    ========================================================================================= */
    $('#yaform').submit(function(event) {
      $('#inputSum').number(true, 2, '.', '');
      if ($('#inputSum').val() >= 100) {
        return true;
      } else {
        $('#inputSum').number(true, 2, '.', ' ');
        return false;
      }
    });
    $('#inputSum').number(true, 2, '.', ' ');
    $('#inputInvoiceSum').number(true, 2, '.', ' ');

    /* Изменяем тарифный план пользователя, но с обязательным подтверждением, иначе может
       случиться ай-я-яй.
    ========================================================================================= */
    $('#tariffForm').submit(function(e) {
      e.preventDefault();
      if ($('select[name="tariff"]').val() != 'demo') {
        var a = $(this).attr('action');
        var s = $(this).serialize();
        $('#tariffModal').modal('show');
        $('#tariffModal').find('#ok').on('click', function() {
          var b = $(this)
          var t = b.text();
          b.addClass('disabled');
          b.html('<i class="fa fa-fw fa-spinner fa-pulse"></i> ' + t);
          $.post(a,s,function(data) {
            $('#qty').number(data.qty, 0, '.', ' ');
            $('#balans').number(data.balans, 2, '.', ' ');
            $('#tariff').text(data.tariff);
          }, 'json').done(function() {
            $('#tariffModal').modal('hide');
            b.removeClass('disabled');
            b.text(t);
          });
        });
      }
    });
  });

  /* Функция приветствия пользователя в зависимости от времени на компьютере пользователя.
  ========================================================================================= */
  function greeting(element) {
    var d = new Date(),
      h = d.getHours(),
      g = $(element);
    if (h >= 5 && h < 12)
      g.text('Доброе утро!');
    else
    {
      if (h >= 12 && h < 18)
        g.text('Добрый день!');
      else
      {
        if (h >= 18 && h < 24)
          g.text('Добрый вечер!');
        else
          g.html('Доброй ночи&hellip;');
      }
    }
  }

  /* Функция перехода к предыдущему шагу в мастере выборок.
  ========================================================================================= */
  function wizardStep(step) {
    var curr_step = step + 1;
    $('#wizard-form').attr('action', '/step-'+curr_step+'/');
    $('#wizard-helper #step-'+curr_step).fadeOut('fast', function() {
      $('#wizard-helper #step-'+step).fadeIn('fast');
    });
    $('#wizard-form #step-'+curr_step).fadeOut('fast', function() {
      $('#wizard-form #step-'+step).fadeIn('fast');
    });
  }

  /* Функция составления архивы выборок.
  ========================================================================================= */
  function renderSelections(step) {
    var crm_id = localStorage.getItem('crm_id');
    $.post('/getUserCache/', function (data) {
      var usDate, uspDate,
          date = new Date(),
          date = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2),
          $list = $('#wizard-form #step-'+step).find('div.list-group');
      $list.empty();
      for (var i in data) {
        usDate = data[i].addtime.substring(0,7);
        if (usDate != uspDate) {
          if (usDate == date) {
            $list.append('<a href="#." class="list-group-item active" onclick=downloadSelection("'+usDate+'",'+crm_id+')>Скачать выборку за '+usDate+'</a>');
          } else {
            $list.append('<a href="#." class="list-group-item" onclick=downloadSelection("'+usDate+'",'+crm_id+')>Скачать выборку за '+usDate+'</a>');
          }
          uspDate = usDate;
        }
      }
    });
  }

  function downloadSelection(sDate, crm_id) {
    var downloadWindow = window.open('/getSelection/'+sDate+'/?crm_id='+crm_id);
    window.setTimeout(function() {
      downloadWindow.close();
    }, 10000);
  }

  function showSearchDialog(number) {
    $('#searchDialog-'+number).modal({
      backdrop: false
    });
  }

  function rubricListConstructor(rubrics) {
    var level2 = null,
        level3 = null;
    rubrics.forEach(function (entry) {
      if (!entry.parent)
      {
        $('#searchDialog-1').find('dl').append('<dt><a href="#." title="'+entry.name+'" id="r-'+entry.id+'" onclick="searchByID('+entry.id+')">'+entry.name+'</a></dt>');
        level2 = entry.id;
      } else if (level2 == entry.parent) {
        $('#searchDialog-1').find('dl').append('<dd id="'+entry.id+'"><a href="#." class="btn btn-xs btn-primary" id="r-'+entry.id+'" onclick="searchByID('+entry.id+')">'+entry.name+'</a></dd>');
        level3 = entry.id;
      } else if (level3 == entry.parent) {
        $('#searchDialog-1').find('dl dd#'+level3).append(' <a href="#." class="btn btn-xs btn-default" id="r-'+entry.id+'" onclick="searchByID('+entry.id+')">'+entry.name+'</a>');
      }
    });
  }

  function searchByID(rubric_id) {
    if (rubric_id == 0) {
      $('#searchDialog-1 #ok').attr('disabled', 'disabled');
      $('#searchDialog-1 #helper').empty().html('Кликните по любому виду деятельности. <em>Это не страшно.</em> &#128521;');
      $('#searchDialog-1').find('#searchResult').hide(400, function() {
        $('.dl-horizontal').show();
      });
    } else {
      var search_text = $('#searchDialog-1').find('#r-'+rubric_id).text();
      $('#searchDialog-1 #helper').empty().html('Искомый вид деятельности: <div class="btn-group btn-group-xs" role="group" aria-label="..."><button type="button" class="btn btn-invert">'+search_text+'</button><button type="button" class="btn btn-danger" onclick="searchByID(0)">&times;</button>');
      renderPage(1, search_text, function() {
        $('.dl-horizontal').hide(400, function() {
          $('#searchDialog-1').find('#searchResult').show();
        });
      });
    }
  }

  function chMarkAll(sdn) {
    var checkedStatus = $('#searchDialog-'+sdn).find('#selectAllID:checked').length;
    var batchImport = $('#searchDialog-'+sdn).find('#ok');
    console.log(checkedStatus);
    if (!checkedStatus) {
      totalChecked = 0;
      batchImport.attr('disabled', 'disabled').html('Импортировать отмеченные');
    } else {
      if (totalFind > 50)
        totalChecked = 50;
      else
        totalChecked = totalFind;
      batchImport.removeAttr('disabled').html('Импортировать отмеченные <notr>('+totalChecked+')</notr>');
    }
    $('#searchDialog-'+sdn+' tbody tr').find('td:first :checkbox').each(function() {
      $(this).prop('checked', checkedStatus);
    });
  }

  function renderPage(pageNum, search_text, callback) {
    totalChecked = 0;
    var formData = {
      searchAPI: '{{apikey}}',
      searchDomain: 'www.lead4crm.ru',
      searchCity: localStorage.getItem('city_id'),
      searchPage: pageNum
    };

    var requestURL = '',
        type = localStorage.getItem('search_id');
        companyList = {};

    $.post('/getUserCache/', function (data) {
      companyList = data;
    });

    $('#searchDialog-'+type+' #page'+pageNum).html('<span><i class="fa fa-circle-o-notch fa-spin"></i></span>');
    $('#searchDialog-'+type+' tbody').find('tr').remove().append('<tr class="notr"><td colspan="5" class="text-center"><i class="fa fa-fw fa-spinner fa-pulse"></i> Построение списка компаний&hellip;</td></tr>');

    if (type == 1) {
      formData.searchRubric = search_text;
      requestURL = '/getDataSearchRubric/';
    } else {
      formData.searchText = search_text;
      requestURL = '/getDataSearch/';
    }
    $.post(requestURL, formData, function (data) {
      totalFind =  data.total;
      $('#qty').number(data.qty, 0, '.', ' ');
      $('#searchDialog-'+type).find('.btn-invert').text(search_text+' ('+data.total+')');
      $('#searchDialog-'+type).find('.pagination').empty();
      $('#searchDialog-'+type+' tbody').find('tr').remove();
      if (pageNum == 1) {
        $('#searchDialog-'+type+' .pagination').append('<li class="active" id="page1"><span>1 <span class="sr-only">(текущая)</span></span></li>');
        if (totalFind > 50) {
          var page = 2;
          for (var i = 50; i < totalFind; i = i + 50) {
            $('#searchDialog-'+type+' .pagination').append('<li id="page'+page+'"><a href="#." onclick="renderPage('+page+',\''+search_text+'\')">'+page+'</a></li>');
            page++;
          }
        }
      } else {
        if (totalFind > 50) {
          var page = 1;
          for (var i = 0; i < totalFind; i = i + 50) {
            if (page == pageNum) {
              $('#searchDialog-'+type+' .pagination').append('<li class="active" id="page'+page+'"><span>'+page+' <span class="sr-only">(текущая)</span></span></li>');
            } else {
              $('#searchDialog-'+type+' .pagination').append('<li id="page'+page+'"><a href="#." onclick="renderPage('+page+',\''+search_text+'\')">'+page+'</a></li>');
            }
            page++;
          }
        }
      }
      var user_cache = null,
          statusExist = 0,
          oldExist = 0,
          addTime,
          d = new Date(),
          d = d.getFullYear()+'-'+('0'+(d.getMonth()+1)).slice(-2);
      data.result.forEach(function (entry, index) {
        var cId = index + 1;
        for (var i in companyList) {
          if (companyList[i].id == entry.id && companyList[i].addtime.substring(0,7) == d) {
            statusExist = 1;
            oldExist = 0;
            addTime = companyList[i].addtime.substring(0,10);
            break;
          } else if (companyList[i].id == entry.id && companyList[i].addtime.substring(0,7) != d) {
            statusExist = 0;
            oldExist = 1;
            addTime = companyList[i].addtime.substring(0,10);
            break;
          } else {
            statusExist = 0;
            oldExist = 0;
          }
        }
        if (statusExist) {
          $('#searchDialog-'+type).find('tbody').append('<tr class="notr success"><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" onclick=changeMark("'+entry.id+'") id="company'+cId+'" disabled></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td><td>Импортровано: <nobr>'+addTime+'</nobr></td></tr>');
        } else if (oldExist) {
          $('#searchDialog-'+type).find('tbody').append('<tr class="notr warning"><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" onclick=changeMark("'+entry.id+'") id="company'+cId+'"></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td><td><a href="#." class="btn btn-xs btn-warning" data-toggle="tooltip" title="Испортировано: '+addTime+'" onclick=importCompany("'+entry.id+'","'+entry.hash+'",true)>Импортировать</a></td></tr>');
        } else {
          totalChecked++;
          $('#searchDialog-'+type).find('tbody').append('<tr class="notr"><td class="text-center"><input type="checkbox" name="'+entry.id+'" value="'+entry.hash+'" onclick=changeMark("'+entry.id+'") id="company'+cId+'" checked></td><td>'+entry.name+'</td><td>'+entry.address+'</td><td>'+entry.firm_group+'</td><td><a href="#." class="btn btn-xs btn-default" onclick=importCompany("'+entry.id+'","'+entry.hash+'")>Импортировать</a></td></tr>');
        }
      });
    }, 'json').done(function() {
      var batchImport = $('#searchDialog-'+type).find('#ok');
      if (totalChecked > 0) {
        batchImport.removeAttr('disabled').html('Импортировать отмеченные <notr>('+totalChecked+')</notr>');
      } else {
        batchImport.attr('disabled', 'disabled').html('Импортировать отмеченные');
      }

      if (callback && typeof(callback) === 'function') {
        callback();
      }
    });
  }

  function importCompany(id, hash, from2gis, callback) {
    from2gis = typeof from2gis !== 'underfined' ? from2gis : false;
    var importData = {
      importAPI: '{{apikey}}',
      importDomain: 'www.lead4crm.ru',
      importCompanyID: id,
      importCompanyHash: hash,
      getFrom2GIS: from2gis
    };
    var d = new Date(),
        d = d.getFullYear()+'-'+('0'+(d.getMonth()+1)).slice(-2)+'-'+('0'+d.getDate()).slice(-2),
        type = localStorage.getItem('search_id');
    $('#searchDialog-'+type).find('input[name="'+id+'"]').parent().parent().find('td:eq(4) a').html('<i class="fa fa-fw fa-spinner fa-pulse"></i> Загрузка&hellip;');
    $.post('/importCompany/', importData, function (data) {
      if (data.error > 0)
        alert(data.message);
    }, 'json').done(function() {
      $('#searchDialog-'+type).find('input[name="'+id+'"]').attr('disabled', 'disabled').prop('checked', 0).parent().parent().removeClass().addClass('success').find('td:eq(4)').html('Импортировано: <nobr>'+d+'</nobr>');
      if (callback && typeof(callback) === 'function') {
        callback();
      }
    });
  }

  function changeMark(id) {
    var status = $('input[name="'+id+'"]:checked').length;
    var type = localStorage.getItem('search_id');
    var batchImport = $('#searchDialog-'+type).find('#ok');

    if (status) {
      totalChecked++;
    } else {
      totalChecked--;
    }

    if (totalChecked > 0) {
      batchImport.removeAttr('disabled').html('Импортировать отмеченные <notr>('+totalChecked+')</notr>');
    } else {
      batchImport.attr('disabled', 'disabled').html('Импортировать отмеченные');
    }
  }

  /* Функция выбора полного текста указанного элемента.
  ========================================================================================= */
  function selectText(element) {
      var doc = document;
      var text = doc.getElementById(element);    

      if (doc.body.createTextRange) { // ms
          var range = doc.body.createTextRange();
          range.moveToElementText(text);
          range.select();
      } else if (window.getSelection) { // moz, opera, webkit
          var selection = window.getSelection();            
          var range = doc.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);
      }
  }

  function sendCode(uin) {
    $.post('/icq/sendCode/', { uin: uin });
  }

  /* Функция проверяет является ли переменная 'n' целочисленной.
  ========================================================================================= */
  function isInt(n) {
    return n % 1 === 0;
  }
  </script>
  {# {% endjshrink %} #}
</body>
</html>
{% endspaceless %}