footer#footer
	.container
		.footer-holder
			.row
				.col-md-4
					.logo
						a(href=mainpage_url): img(src="/images/logo.svg", alt="LEAD4CRM")
					p Смарт генератор лидов для CRM Битрикс24. Работает на базе справочника 2GIS.
				.col-md-2
					h4 Навигация
					ul
						li: a(href=mainpage_url) Главная
						li: a(href=aboutproject_url) О проекте
						li: a(href=aboutours_url) О нас
						li: a(href=prices_url) Цены
						li: a(href=support_url) Поддержка
				.col-md-3
					.text-holder
						strong.phone: a(href="tel:+74996917") +7 (499) 704-69-17
						span.available Работаем всегда &mdash; 24/7
						h4 Сделано в России с любовь!
						address Произведено в #[a(href="http://limydesign.ru", target="_blank") LimyDesign Studio]
				.col-md-3
					.text-frame
						h4 К сведению
						p.
							Наши данные актуальны на столько на сколько актуальны данные в справочнике 2GIS потому, что мы не кэшируем и не сохраняем.