doctype html
html
	head
		- include header.jade
	body
		#wrapper
			- include menu.jade
			section.visual
				.container
					.text-block
						.heading-holder: h1 Генератор лидов
						p.tagline.hidden-xs.hidden-sm Нет ничего проще чем создание базы потенциальных клиентов
						span.info Версия 0.0.1
				img(src="images/img-decor-01.jpg").bg-stretch
			section.main
				.container
					#cta
						a(href="#").btn.btn-primary.rounded Установить в Битрикс24
						p Работает на базе API 
							img(src="/images/2gis-logo-1.svg", alt="2GIS", title="2GIS")
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 Эволюция в CRM системах
							p.
								Наше решение не является революционным, но как оказывается подобных решений на российском рынке еще не представлено. Поэтому мы взяли и сделали. Отныне все просто &mdash; пара кликов и база ваша!
							.social-placeholder
								div(class="yashare-auto-init", data-yashareL10n="ru",
									data-yashareQuickServices="vkontakte,facebook,twitter,gplus",
									data-yashareTheme="counter")
			section.area
				.container
					.row
						.col-md-5
							h2.visible-xs.visible-sm.text-primary= '<рекомендуем>'
							ul.visual-list
								li
									.img-holder: img(src="/images/graph-04.svg", width="110")
									.text-holder
										h3 Подробная карточка компании
										p.
											При импорте данных по вашим критериям, импортируются не только назнвания компании, но и все возможные данные, которые компания сама предоставила о себе. В результате вы получаете наиболее полные данные по каждой компании, при этом вам ничего не надо делать, кроме нажатия кнопки «Импорт».
								li
									.img-holder: img(src="/images/graph-03.svg", width="90")
									.text-holder
										h3 Тонкая настройка
										p.
											Настраивайте выборку данных как вам угодно &mdash; мы постарались реализовать фильтры так, чтобы они смогли упростить процесс получения максимально подходящих для вас потенциальных клиентов. Заказывая базу у кого-нибудь вам отправляют файл в формате Excel, мы делаем так, чтобы вам не нужно было бы в дальнейшем выбирать нужные и не нужные компании.
								li
									.img-holder: img(src="/images/graph-01.svg", width="71")
									.text-holder
										h3 Экономия времени
										p.
											С нами вы экономите не только на оплате друда менеджеров или системного администратора, с нами вы экономите на множестве потенциальных расходов, которые компании несут не пользуясь нашим замечательным модулем. Кроме этого вы увеличиваете прибыль компании ровно на столько, сколько времени тратится на сбор данных по вашим потенциальным клиентам.
						.col-md-7
							.slide-holder
								h2.hidden-xs.hidden-sm.text-primary= '<наша рекомендация>'
								.img-slide.scroll-trigger: img(src="/images/img-01.png", height="839", width="1352")
			section.main
				.container
					.block-holder
						.block-frame
							.cycle-gallery
								.mask
									.slideset
										.slide
											.img-box
												.img-holder: img(src="/images/user-01.jpg", height="85", width="85")
												.text-holder
													h3 Арсен Беспалов
													p PHP / JavaScript / Node.js / AngularJS
											p.
												Этот проект для меня был абсолютно спонтанным, но необходимость и востребованность данного продукта подтолкнула меня начать разработку и собрать комманду единомышленников, которым будет интересно реализовать данный проект.
											em.date 22 марта 2014 г.
										.slide
											.img-box
												.img-holder: img(src="/images/user-02.jpg", height="85", width="85")
												.text-holder
													h3 Александр Семенов
													p PHP / 1C / Delphi / Java
											p.
												Я вообще ничего не знал про этот проект, вернее нет, я про него услышал когда уже возникла необходимость писать какой-то код. Возможно Я отличный разработчик, но разрабатывать под Битрикс24 что-либо для меня было впервые.
											em.date 22 марта 2014 г.
										.slide
											.img-box
												.img-holder: img(src="/images/user-03.jpg", height="85", width="85")
												.text-holder
													h3 Александр Краско
													p C / C++
											p.
												Пол жизни я был первоклассынм специалистом по связи, для меня связь &mdash; это моя стихия, но видя тенденцию мира, движущуюся в сторону IP-решений, взялся за разработку, возможно я не такой большой профессионал в программировании, но посильный вклад я постараюсь сделать.
											em.date 22 марта 2014 г.
								a(href="#.").btn-prev: i.glyphicon.glyphicon-menu-left
								a(href="#.").btn-next: i.glyphicon.glyphicon-menu-right
						.block-frame
							ul.cta-list
								li
									a(href="https://www.facebook.com/lead4crm").btn.btn-fb-color.
										#[i.fa.fa-facebook] Facebook
								li
									a(href="http://vk.com/lead4crm").btn.btn-vk-color.
										#[i.fa.fa-vk] Вконтакте
								li
									a(href="https://plus.google.com/114159806572244188963", rel="publisher",
										class="btn btn-google-plus-color") #[i.fa.fa-google-plus] Google+
			section.visual-container
				.visual-area
					.container
						h2 Разработано для
						ul.testimonials
							li
								.img-holder
									a(href="http://bitrix24.ru", target="_blank")
										img(src="/images/bx24-logo.png", height="36", width="195" alt="Битрикс24")
								p: em.
									Лучшее решение корпоративного портала, включающий множество инструментов управления котрудниками, проектами и взаимоотношениями с клиентами.
					img(src="images/img-decor-02.jpg", height="764", width="1380").bg-stretch
				.visual-area
					.container
						h2 Стоимость услуг доступа
						.pricing-tables
							.plan
								.head
									h3 Старт
								.price
									span.price-main 0,98 #[span.month: i.fa.fa-rub]
									span.price-additional за каждую компанию
								ul.item-list
									li Стоимость пакета — 2000 #[i.fa.fa-rub]
								a(href="/cabinet/select/start").btn.btn-default.rounded подключить
							.plan.recommended
								.head
									h3 Компания
								.price
									span.price-main 0,65 #[span.month: i.fa.fa-rub]
									span.price-additional за каждую компанию
								ul.item-list
									li Стоимость пакета — 10&nbsp;000 #[i.fa.fa-rub]
								a(href="/cabinet/select/company").btn.btn-default.rounded подключить
							.plan
								.head
									h3 Корпорация
								.price
									span.price-main 0,43 #[span.month: i.fa.fa-rub]
									span.price-additional за каждую компанию
								ul.item-list
									li Стоимость пакета — 50&nbsp;000 #[i.fa.fa-rub]
								a(href="/cabinet/select/corporation").btn.btn-default.rounded подключить
							.plan
								.head
									h3 Ултра
								.price
									span.price-main 0,10 #[span.month: i.fa.fa-rub]
									span.price-additional за каждую компанию
								ul.item-list
									li Стоимость пакета — 120&nbsp;000 #[i.fa.fa-rub]
								a(href="/cabinet/select/ultra").btn.btn-default.rounded подключить
						p.silent.
							Данные цены указаны для добавления каждой компании в справочник CRM Битрикс24. Срок действия тарифных планов не ограничен по времени использования. Стомость пакета услуг может ровно не делиться на стомость импорта за компанию, в связи с чем импортируемое кол-во компаний округляется в меньшую сторону. При исчерпывании всех средств доступ блокируется до момента приобретения нового пакета. Средства перечисленные на лицевой счет возврату или обмену на другие услуги не подлежат. Фактом оплаты считается момент зачисления денежных средств на лицевой счет нашей компании, в связи с чем оплата по счету для юридических лиц может затянуться до 3 банковских дней.
					img(src="/images/img-decor-03.jpg", height="1175", width="1380").bg-stretch
			section.area
				.container
					.subscribe
						h3 Подписывайтесь на наши новости
						form.form-inline
							button.btn.btn-primary.rounded Подписаться
							.form-group
								input(type="email", placeholder="Электропочта").form-control.rounded#exampleInputEmail2
			- include footer.jade

		- include login-modal.jade

		- include scripts.jade