.md-modal.md-effect-10#modal-8
	.md-content
		h3 Авторизация
		div
			p.text-center: strong Войдите или зарегистрируйтесь через:
			//- ul.cta-list
			//- 	li: a(href=bxlogin, title="Зайти через Битрикс24").btn.btn-bx-color.rounded Битрикс24
			ul.cta-list
				li: a(href=fblogin, title="Зайти через Facebook").btn.btn-fb-color Facebook *
				li: a(href=vklogin, title="Зайти через Вконтакте").btn.btn-vk-color Вконтакте
			ul.cta-list
				li: a(href=gplogin, title="Зайти через Google+").btn.btn-google-plus-color Google+
				li: a(href=oklogin, title="Зайти через Одноклассники").btn.btn-ok-color Одноклассники
			ul.cta-list
				li: a(href=mrlogin, title="Зайти через Mail.Ru").btn.btn-mailru-color Mail.Ru
				li: a(href=yalogin, title="Зайти через Яндекс").btn.btn-ya-color Яндекс
			p.text-center!='* Если вы уже имеете авторизацию Facebook на ресурсе <a href="http://www.cnamrf.ru" target="_blank" class="md-link">www.cnamrf.ru</a> и хотите иметь общий лицевой счет, не авторизуйтесь через Facebook. Используйте другой сервис.'

.md-overlay