header#header
	.container
		.logo: a(href=mainpage_url): img(src="/images/logo.svg")
		nav#nav
			.opener-holder
				a(href="#").nav-opener: span
			if cabinet
				a(href=cabinet_url).btn.btn-primary.rounded Кабинет
			else
				a(data-modal="modal-8").btn.btn-primary.md-trigger.rounded Войти
			.nav-drop
				ul
					li(class=mainactive ? 'active' : ''): a(href=mainpage_url) Главная
					li(class=projectactive ? 'active': ''): a(href=aboutproject_url) О проекте
					li(class=oursactive ? 'active' : ''): a(href=aboutours_url) О нас
					li(class=priceactive ? 'active' : ''): a(href=prices_url) Цены
					li(class=supportactive ? 'active' : ''): a(href=support_url) Поддержка
				.drop-holder.visible-sm.visible-xs
					span Следите
					ul.social-networks
						li: a(href="https://www.facebook.com/lead4crm").fa.fa-facebook
						li: a(href="http://vk.com/lead4crm").fa.fa-vk
						li: a(href="https://plus.google.com/114159806572244188963").fa.fa-google-plus