<div class="row">
  <div class="col-md-6">
    <h3>Ваши социальные аккаунты</h3>
    <p>Через эти социальные аккаунты вы сможете входить в свой личный кабинет. Если вы впервые авторизовались и у вас несколько аккаунтов, мы рекомендуем подключить все, для значительного упрощения при следующих авторизациях, в том числе чтобы в следующий раз заходя на наш сайт вы смогли попасть в свой старый аккаунт, а не создать новый.</p>
    <blockquote>
      <p>В случае критической ситуации запомните или запишите ваш персональный номер, он может помочь вам при обращении в службу технической поддержки для решения проблем: <span class="badge notr">{{userid}}</span>
      </p>
    </blockquote>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
    {% if not provider.fb or not provider.vk or not provider.gp or not provider.ok or not provider.mr or not provider.ya %}
      <h4>Не привязанные аккаунты</h4>
    {% endif %}
    {% if not provider.fb %}
      <a href="{{links.fblogin}}" class="btn btn-block btn-fb-color">Facebook</a>
    {% endif %}
    {% if not provider.vk %}
      <a href="{{links.vklogin}}" class="btn btn-block btn-vk-color">Вконтакте</a>
    {% endif %}
    {% if not provider.gp %}
      <a href="{{links.gplogin}}" class="btn btn-block btn-google-plus-color">Google+</a>
    {% endif %}
    {% if not provider.ok %}
      <a href="{{links.oklogin}}" class="btn btn-block btn-ok-color">Одноклассники</a>
    {% endif %}
    {% if not provider.mr %}
      <a href="{{links.mrlogin}}" class="btn btn-block btn-mailru-color">Mail.Ru</a>
    {% endif %}
    {% if not provider.ya %}
      <a href="{{links.yalogin}}" class="btn btn-block btn-ya-color">Яндекс</a>
    {% endif %}
    <h4>Привязанные аккаунты</h4>
    {% if provider.fb %}
      <a href="/unlink/fb/" class="btn btn-block active btn-fb-color">Facebook<notr> &nbsp; <span class="label label-default">{{provider.fb}}</span></notr></a>
    {% endif %}
    {% if provider.vk %}
      <a href="/unlink/vk/" class="btn btn-block active btn-vk-color">Вконтакте<notr> &nbsp; <span class="label label-default">{{provider.vk}}</span></notr></a>
    {% endif %}
    {% if provider.gp %}
      <a href="/unlink/gp/" class="btn btn-block active btn-google-plus-color">Google+<notr> &nbsp; <span class="label label-default">{{provider.gp}}</span></notr></a>
    {% endif %}
    {% if provider.ok %}
      <a href="/unlink/ok/" class="btn btn-block active btn-ok-color">Одноклассники<notr> &nbsp; <span class="label label-default">{{provider.ok}}</span></notr></a>
    {% endif %}
    {% if provider.mr %}
      <a href="/unlink/mr/" class="btn btn-block active btn-mailru-color">Mail.Ru<notr> &nbsp; <span class="label label-default">{{provider.mr}}</span></notr></a>
    {% endif %}
    {% if provider.ya %}
      <a href="/unlink/ya/" class="btn btn-block active btn-ya-color">Яндекс<notr> &nbsp; <span class="label label-default">{{provider.ya}}</span></notr></a>
    {% endif %}
  </div>
</div>
{% if admin %}
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Объединение аккаунтов</h3>
            <p>Необходимость объединять аккаунты может возникнуть в следствие нескольких администраторов в одной компании, например: 2 или более администратора оплачивают услуги и требуется иметь один ключ доступа по которому виден общий баланс, общий тарифный план и итоговое кол-во остаточных профилей компаний для всех объединенных аккаунтов.</p>
            <p>Чтобы объеденить аккаунт необходимо включить систему объединения и либо начать объединение, либо после включения ввести идентификатор системы объединения, номер которой известен первому и всем последующим пользователям системы объединения аккаунтов.</p>
        </div>
        <div class="col-md-6">
            <h3>&nbsp;</h3>
        </div>
    </div>
{% endif %}