<footer id="footer">
	<div class="container">
		<div class="footer-holder">
			<div class="row">
				<div class="col-md-4">
					<div class="logo">
						<a href="{{mainpage_url}}">
							<img src="/public/images/logo.svg" alt="LEAD4CRM">
						</a>
					</div>
					<p>Смарт генератор лидов для CRM Битрикс24. Работает на базе справочника 2ГИС.</p>
				</div>
				<div class="col-md-2">
					<h4>Навигация</h4>
					<ul>
						<li>
							<a href="{{mainpage_url}}" title="Главная">Главная</a>
						</li>
						<li>
							<a href="{{aboutproject_url}}" title="О проекте">О проекте</a>
						</li>
						<li>
							<a href="{{aboutours_url}}" title="О нас">О нас</a>
						</li>
						<li>
							<a href="{{prices_url}}" title="Цены">Цены</a>
						</li>
						<li>
							<a href="{{support_url}}" title="Поддержка">Поддержка</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="text-holder">
						<strong class="phone">
							<a href="tel:+74997046917">+7 (499) 704-69-17</a>
						</strong>
						<span class="available">Работаем всегда &mdash; 24/7</span>
						<h4>Сделано в России с любовь!</h4>
						<address>
							Произведено в <a href="http://limydesign.ru" title="LimyDesign Studio" target="_blank">LimyDesign Studio</a>
						</address>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-frame">
						<h4>К сведению</h4>
						<p>Наши данные актуальны на столько на сколько актуальны данные в справочнике 2GIS потому, что мы не кэшируем и не сохраняем.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>