<div class="md-modal md-effect-12" id="login">
	<div class="md-content">
		<h3>Авторизация</h3>
		<div>
			<p class="text-center">
				<strong>Войдите или зарегистрируйтесь через:</strong>
			</p>
			<ul class="cta-list">
				<li>
					<a href="{{fblogin}}" title="Зайти через Facebook" class="btn btn-fb-color">Facebook *</a>
				</li>
				<li>
					<a href="{{vklogin}}" title="Зайти через Вконтакте" class="btn btn-vk-color">Вконтакте</a>
				</li>
			</ul>
			<ul class="cta-list">
				<li>
					<a href="{{gplogin}}" title="Зайти через Google+" class="btn btn-google-plus-color">Google+</a>
				</li>
				<li>
					<a href="{{oklogin}}" title="Зайти через Одноклассники" class="btn btn-ok-color">Одноклассники</a>
				</li>
			</ul>
			<ul class="cta-list">
				<li>
					<a href="{{mrlogin}}" title="Зайти через Mail.Ru" class="btn btn-mailru-color">Mail.Ru</a>
				</li>
				<li>
					<a href="{{yalogin}}" title="Зайти через Яндекс" class="btn btn-ya-color">Яндекс</a>
				</li>
			</ul>
			<p class="text-center">* Если вы уже имеете авторизацию Facebook на ресурсе <a href="http://www.cnamrf.ru" target="_blank" class="md-link notr">www.cnamrf.ru</a> и хотите иметь общий лицевой счет, не авторизуйтесь через Facebook. Используйте другой сервис.</p>
			<div class="text-center">
				<button type="button" class="btn btn-lg btn-default md-close">Закрыть</a>
			</div>
		</div>
	</div>
</div>
<div class="md-overlay"></div>