<header id="header">
	<div class="container">
		<div class="logo">
			<a href="{{mainpage_url}}">
				<img src="/public/images/logo.svg">
			</a>
		</div>
		<nav id="nav">
			<div class="opener-holder">
				<a href="#" class="nav-opener"><span></span></a>
				{% if userid %}
					<a href="/cabinet/" class="btn btn-primary rounded">Кабинет</a>
				{% else %}
					<a data-modal="login" class="btn btn-primary md-trigger rounded">Войти</a>
				{% endif %}
			</div>
			<div class="nav-drop">
				<ul>
					<li class="{% if currentUrl == mainpage_url %}active{% endif %}">
						<a href="{{mainpage_url}}" title="Главная">Главная</a>
					</li>
					<li class="{% if currentUrl == aboutproject_url %}active{% endif %}">
						<a href="{{aboutproject_url}}" title="О проекте">О проекте</a>
					</li>
					<li class="{% if currentUrl == aboutours_url %}active{% endif %}">
						<a href="{{aboutours_url}}" title="О нас">О нас</a>
					</li>
					<li class="{% if currentUrl == prices_url %}active{% endif %}">
						<a href="{{prices_url}}" title="Цены">Цены</a>
					</li>
					<li class="{% if currentUrl == support_url %}active{% endif %}">
						<a href="{{support_url}}" title="Поддержка">Поддержка</a>
					</li>
					<li>
						<a href="{{blog_url}}" title="Блог">Блог</a>
					</li>
				</ul>
				<div class="drop-holder visible-sm visible-xs">
					<span>Следите</span>
					<ul class="social-networks">
						<li>
							<a href="https://www.facebook.com/lead4crm" class="fa fa-facebook"></a>
						</li>
						<li>
							<a href="http://vk.com/lead4crm" class="fa fa-vk"></a>
						</li>
						<li>
							<a href="https://plus.google.com/114159806572244188963" class="fa fa-google-plus"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>